In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

In [23]:
import scipy.stats as stats
from scipy.stats import ttest_1samp #One Sample t test
from scipy.stats import ttest_ind #Two Independent Variables t test
from scipy.stats import ttest_rel# Two Dependent Samples Paired t test

## One-sample T-test 

One-Sample t-test is used to compare sample mean with the population mean.


Research Question:- Whether the sample mean is equal to population mean or not.


C.I = 95%

Significance level = 0.05

H0: Sample mean = Population mean

H1: Sample mean is not equal to population mean.

In [45]:
Significance_value = 0.05

In [37]:
# Population
ages=[10,20,35,50,28,40,55,18,16,55,30,25,43,18,30,28,14,24,16,17,32,35,26,27,65,18,43,23,21,20,19,70]
len(ages)

32

In [38]:
# Mean of population
ages_mean=np.mean(ages)
print(ages_mean)

30.34375

In [39]:
## Take 10 samples from population
sample_size=10
age_sample=np.random.choice(ages,sample_size)
age_sample

array([55, 17, 28, 19, 35, 24, 21, 18, 28, 20])

In [43]:
# Conduct One sample t-test
ttest,p_value=ttest_1samp(age_sample,30.34375) #Format (sample mean, population mean)

In [44]:
p_value

0.31735442420867466

In [46]:
if p_value < significance_value:    
    print(" Reject Null Hypothesis")
else:
    print("Accept / Fail to Reject Null Hypothesis")

Accept / Fail to Reject Null Hypothesis

Statement: sample mean is equals to population mean.

## Independent t-test

It is used to compare mean of 2 categories of an independent variable with the mean of dependent variable.

Research Question: The persons who smokes or the persons who don' t smokes have same lungs capacity or not.

Ho: Smoker mean = no smoker mean = lung capacity / smokers and no smokers have same lungs capacity

H1: Smokers mean is not equal to no smokers mean / Smokers and no smokers don't have same lungs capacity


C.I = 95%

Significance Value = 0.05


Assumed sample of smokers variance is not equal to variance of no smokers

In [24]:
df=pd.read_excel(r'C:\Users\HP\Desktop\Data Science\Study Material\Arihant Jain Sir\Week-08/Lung_Capacity.xlsx')
df

     Age  Height Smoke  Gender  LungCap
0      6    62.1    no    male    6.475
1     18    74.7   yes  female   10.125
2     16    69.7    no  female    9.550
3     14    71.0    no    male   11.125
4      5    56.9    no    male    4.800
..   ...     ...   ...     ...      ...
720    9    56.0    no  female    5.725
721   18    72.0   yes    male    9.050
722   11    60.5   yes  female    3.850
723   15    64.9    no  female    9.825
724   10    67.7    no    male    7.100

[725 rows x 5 columns]

In [25]:
df.describe()

              Age      Height     LungCap
count  725.000000  725.000000  725.000000
mean    12.326897   64.836276    7.863148
std      4.004750    7.202144    2.662008
min      3.000000   45.300000    0.507000
25%      9.000000   59.900000    6.150000
50%     13.000000   65.400000    8.000000
75%     15.000000   70.300000    9.800000
max     19.000000   81.800000   14.675000

In [26]:
#level of significance
significance_value = 0.05

In [27]:
#Mean of smokers
df_smokeyes=df.loc[df['Smoke']=='yes']
df_smokeyes.mean(axis=0)

Age        14.779221
Height     68.522078
LungCap     8.645455
dtype: float64

In [28]:
#Mean of no_smokers
df_smokeno=df.loc[df['Smoke']=='no']
df_smokeno.mean(axis=0)

Age        12.035494
Height     64.398302
LungCap     7.770188
dtype: float64

In [29]:
#Variance of smokers 
df_smokeyes=df.loc[df['Smoke']=='yes']
df_smokeyes.var(axis=0)

Age         6.937457
Height     27.554638
LungCap     3.545292
dtype: float64

In [30]:
#Variance of no smokers
df_smokeno=df.loc[df['Smoke']=='no']
df_smokeno.var(axis=0)

Age        16.331041
Height     52.998467
LungCap     7.431694
dtype: float64

Variance is unequal

In [31]:
#Import label encoder 
from sklearn import preprocessing 
  
# label_encoder object knows how to understand word labels. 
label_encoder = preprocessing.LabelEncoder() 
  
# Encode labels in column 'species'. 
df['Smoke']= label_encoder.fit_transform(df['Smoke']) 
  
df['Smoke'].unique()

array([0, 1])

In [32]:
print(df['Smoke'])

0      0
1      1
2      0
3      0
4      0
      ..
720    0
721    1
722    1
723    0
724    0
Name: Smoke, Length: 725, dtype: int32

In [33]:
ttest,p_value=stats.ttest_ind(df['LungCap'],df['Smoke'],equal_var=False)

In [34]:
p_value

0.0

In [35]:
if p_value < significance_value:
    print('Reject Null Hypotesis')
else:
    print('Fail to reject Null Hypothesis')

Reject Null Hypotesis

Statement: Smokers and no smokers don't have same lungs capacity

## Paired T-test

Paired t-test is used to compare means of 2 related variables within the same samples.

Research Question: Is their any difference in person's blood plessure, before and after doing joging and exercise.

significance value = 0.05

confidence interval = 95%

H0: Mean of BP before = Mean of BP after / There is no difference in person's BP after exercise.

H1: Mean of BP before is not equal to Mean of BP after / There is a difference in person's BP after doing exercise

In [17]:
df1=pd.read_excel('BloodPressure.xls')
df1

    Subject  Before  After
0         1     135    127
1         2     142    145
2         3     137    131
3         4     122    125
4         5     147    132
5         6     151    147
6         7     131    119
7         8     117    125
8         9     154    132
9        10     143    139
10       11     133    122
11       12     125    125
12       13     154    138
13       14     156    121
14       15     132    126
15       16     125    127
16       17     136    128
17       18     141    132
18       19     129    131
19       20     148    139
20       21     136    120
21       22     120    119
22       23     147    135
23       24     138    142
24       25     158    130

In [18]:
df1['Before'].mean()

138.28

In [19]:
df1['After'].mean()

130.28

In [20]:
ttest,p_value=stats.ttest_rel(df1['Before'],df1['After'])

In [21]:
p_value

0.0006985894059870637

In [22]:
if p_value < 0.05:
    print('Reject Null Hypotesis')
else:
    print('Fail to reject Null Hypothesis')

Reject Null Hypotesis

Statement: There is difference in person's BP after doing exercise.