# Lets do Pandas practice on sample Data Set

# Functions in Pandas

In [2]:
# How to load a Data Set from your system into jupyter Notebook

import pandas as pd

x = pd.read_csv("C:\\Users\\HP\\Downloads\\aa.csv")

x.head() # By default .head() will show the first 5 rows of Data set

,index,merchantid,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate
0,0,5357bcf2bb72c5504882e889,2,120000,60000.0,4.219,320031.0,9.00,20.0,54.0,54.0,8836.0,1.0,50.0
1,1,5708773c3c02161b3f8c7900,5,107100,21420.0,3.934,139223.0,7.76,34.2,61.0,61.0,4010.0,3.0,60.0
2,2,5417aada4ad3ab27e954b76c,2,100007,50004.0,4.053,108048.0,8.00,8.0,-1.0,-1.0,5531.0,NaN,NaN
3,3,570f3a713a698c14278bb51e,1,100000,100000.0,3.889,19248.0,5.67,19.0,71.0,71.0,18393.0,1.0,100.0
4,4,53082ea15aefb07dfe1f2a4f,1,100000,100000.0,4.036,366898.0,5.00,33.0,85.0,85.0,13789.0,NaN,NaN

In [33]:
# .info() show the whole information of Data set about Column Names, Data Type of each column and 
# number of non-null values of every column

x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   index                    10 non-null     int64
 1   merchantid               10 non-null     object
 2   listedproducts           10 non-null     int64
 3   totalunitssold           10 non-null     int64
 4   meanunitssoldperproduct  10 non-null     float64
 5   rating                   10 non-null     float64
 6   merchantratingscount     10 non-null     float64
 7   meanproductprices        10 non-null     float64
 8   meanretailprices         10 non-null     float64
 9   averagediscount          10 non-null     float64
 10  meandiscount             10 non-null     float64
 11  meanproductratingscount  10 non-null     float64
 12  totalurgencycount        7 non-null      float64
 13  urgencytextrate          7 non-null      float64
dtypes: float64(10), int64(3), object(1)
memory usage: 1.2+ KB

In [204]:
# It will show the all column names of Data Set

x.columns

Index(['index', 'merchantid', 'listedproducts', 'totalunitssold',
       'meanunitssoldperproduct', 'rating', 'merchantratingscount',
       'meanproductprices', 'meanretailprices', 'averagediscount',
       'meandiscount', 'meanproductratingscount', 'totalurgencycount',
       'urgencytextrate'],
      dtype='object')

In [298]:
# Compute pairwise correlation of columns, excluding NA/null values.

x.corr()

,index,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate
index,1.000000,-0.348123,-0.647512,-0.579151,-0.089195,-0.198613,0.063018,0.037792,0.094216,0.094564,-0.558158,-0.257767,0.287582
listedproducts,-0.348123,1.000000,0.383373,-0.009870,-0.069052,0.069665,-0.102308,-0.065981,-0.075254,-0.075709,-0.022501,0.735599,-0.663994
totalunitssold,-0.647512,0.383373,1.000000,0.804250,0.094833,0.296667,-0.069331,-0.007848,-0.027921,-0.027895,0.738898,0.256122,-0.277469
meanunitssoldperproduct,-0.579151,-0.009870,0.804250,1.000000,0.119518,0.264941,-0.066693,0.007179,0.010164,0.010276,0.918040,-0.010458,0.017087
rating,-0.089195,-0.069052,0.094833,0.119518,1.000000,0.119780,0.014013,0.034795,0.014893,0.014926,0.144358,-0.075987,0.154485
merchantratingscount,-0.198613,0.069665,0.296667,0.264941,0.119780,1.000000,-0.032802,0.013628,0.001100,0.001196,0.245683,0.071331,-0.121559
meanproductprices,0.063018,-0.102308,-0.069331,-0.066693,0.014013,-0.032802,1.000000,0.292684,-0.047601,-0.047614,-0.036925,-0.118870,0.161271
meanretailprices,0.037792,-0.065981,-0.007848,0.007179,0.034795,0.013628,0.292684,1.000000,0.718960,0.718903,0.059183,-0.096515,0.044781
averagediscount,0.094216,-0.075254,-0.027921,0.010164,0.014893,0.001100,-0.047601,0.718960,1.000000,0.999994,0.020580,-0.060869,0.104026
meandiscount,0.094564,-0.075709,-0.027895,0.010276,0.014926,0.001196,-0.047614,0.718903,0.999994,1.000000,0.020746,-0.060904,0.104704
meanproductratingscount,-0.558158,-0.022501,0.738898,0.918040,0.144358,0.245683,-0.036925,0.059183,0.020580,0.020746,1.000000,-0.026682,0.035119
totalurgencycount,-0.257767,0.735599,0.256122,-0.010458,-0.075987,0.071331,-0.118870,-0.096515,-0.060869,-0.060904,-0.026682,1.000000,-0.131618
urgencytextrate,0.287582,-0.663994,-0.277469,0.017087,0.154485,-0.121559,0.161271,0.044781,0.104026,0.104704,0.035119,-0.131618,1.000000

In [197]:
# It shows the index range

x.index

RangeIndex(start=0, stop=958, step=1)

In [288]:
# It shows that which column has how many null values 

x.isnull().sum()

index                        0
merchantid                   0
listedproducts               0
totalunitssold               0
meanunitssoldperproduct      0
rating                       0
merchantratingscount         0
meanproductprices            0
meanretailprices             0
averagediscount              0
meandiscount                 0
meanproductratingscount      0
totalurgencycount          567
urgencytextrate            567
dtype: int64

In [289]:
# It show that count of repeated values in a particular column

x.rating.value_counts()

4.041    6
3.965    5
3.968    5
4.228    5
4.007    5
        ..
4.012    1
3.908    1
3.862    1
3.677    1
3.598    1
Name: rating, Length: 552, dtype: int64

In [201]:
x.describe()

,index,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate
count,958.000000,958.000000,958.000000,958.000000,958.000000,9.580000e+02,958.000000,958.000000,958.000000,958.000000,958.000000,391.000000,391.000000
mean,478.500000,1.641962,7124.483299,4407.605428,4.043994,2.202045e+04,8.634906,24.802265,28.721294,28.698017,922.538622,1.209719,65.572890
std,276.695079,1.246183,14363.521893,9167.077812,0.222137,8.473232e+04,3.987599,30.258719,39.918708,39.914269,1925.750178,0.583542,28.476426
min,0.000000,1.000000,1.000000,1.000000,2.333000,0.000000e+00,1.000000,1.000000,-18.000000,-18.000000,0.000000,1.000000,14.000000
25%,239.250000,1.000000,100.000000,100.000000,3.931000,1.373000e+03,6.000000,7.000000,-10.000000,-10.000000,31.000000,1.000000,50.000000
50%,478.500000,1.000000,1000.000000,1000.000000,4.055500,5.990500e+03,8.000000,11.000000,16.000000,16.000000,210.500000,1.000000,50.000000
75%,717.750000,2.000000,10000.000000,5000.000000,4.190000,1.723850e+04,11.000000,28.875000,71.000000,71.000000,920.750000,1.000000,100.000000
max,957.000000,15.000000,120000.000000,100000.000000,5.000000,2.174765e+06,49.000000,252.000000,97.000000,97.000000,20744.000000,6.000000,100.000000

In [306]:
# We can customize the percentage of data

x.describe(percentiles=[0.5,0.73])

,index,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate
count,958.000000,958.000000,958.000000,958.000000,958.000000,9.580000e+02,958.000000,958.000000,958.000000,958.000000,958.000000,391.000000,391.000000
mean,478.500000,1.641962,7124.483299,4407.605428,4.043994,2.202045e+04,8.634906,24.802265,28.721294,28.698017,922.538622,1.209719,65.572890
std,276.695079,1.246183,14363.521893,9167.077812,0.222137,8.473232e+04,3.987599,30.258719,39.918708,39.914269,1925.750178,0.583542,28.476426
min,0.000000,1.000000,1.000000,1.000000,2.333000,0.000000e+00,1.000000,1.000000,-18.000000,-18.000000,0.000000,1.000000,14.000000
50%,478.500000,1.000000,1000.000000,1000.000000,4.055500,5.990500e+03,8.000000,11.000000,16.000000,16.000000,210.500000,1.000000,50.000000
73%,698.610000,2.000000,6000.000000,5000.000000,4.177610,1.598765e+04,11.000000,26.000000,68.000000,67.844000,851.270000,1.000000,100.000000
max,957.000000,15.000000,120000.000000,100000.000000,5.000000,2.174765e+06,49.000000,252.000000,97.000000,97.000000,20744.000000,6.000000,100.000000

In [302]:
# It shows the mean data column wise

x.mean()

C:\Users\HP\AppData\Local\Temp\ipykernel_3068\2490772273.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  x.mean()

index                        478.500000
listedproducts                 1.641962
totalunitssold              7124.483299
meanunitssoldperproduct     4407.605428
rating                         4.043994
merchantratingscount       22020.446764
meanproductprices              8.634906
meanretailprices              24.802265
averagediscount               28.721294
meandiscount                  28.698017
meanproductratingscount      922.538622
totalurgencycount              1.209719
urgencytextrate               65.572890
dtype: float64

In [205]:
x.head(3)

,index,merchantid,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate
0,0,5357bcf2bb72c5504882e889,2.0,120000,60000.0,4.219,320031.0,9.00,20.0,54.0,54.0,8836.0,1.0,50.0
1,1,5708773c3c02161b3f8c7900,5.0,107100,21420.0,3.934,139223.0,7.76,34.2,61.0,61.0,4010.0,3.0,60.0
2,2,5417aada4ad3ab27e954b76c,2.0,100007,50004.0,4.053,108048.0,8.00,8.0,-1.0,-1.0,5531.0,NaN,NaN

In [203]:
x.tail(3)

,index,merchantid,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate
955,955,5d417e7070327a2743021677,1.0,1,1.0,3.598,378.0,2.72,9.0,70.0,70.0,0.0,NaN,NaN
956,956,5add589edb5f1f32114d07df,1.0,1,1.0,3.956,1134.0,14.00,14.0,0.0,0.0,0.0,NaN,NaN
957,957,5d4b8931933fb13f8a1fe232,1.0,1,1.0,4.007,1380.0,11.00,30.0,64.0,64.0,0.0,NaN,NaN

In [207]:
# How to get a particular number of rows

x[10:15]

,index,merchantid,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate
10,10,53a2a09ad91139519161a267,3.0,75000,25000.0,4.256,165915.0,13.33,100.33,86.0,86.00,4007.0,1.0,33.0
11,11,539937d634067e06707b1a8e,4.0,71100,17775.0,3.968,51369.0,11.50,86.25,87.0,87.25,6491.0,2.0,50.0
12,12,58ad449708de0c6dc59d9e06,6.0,63100,10517.0,4.147,126370.0,3.61,3.33,-4.0,-4.17,3292.0,1.0,17.0
13,13,56e43d9e3a698c3826a5feff,3.0,61000,20333.0,4.179,17816.0,8.67,8.00,-8.0,-8.00,5086.0,1.0,33.0
14,14,53aa664438d3046ee44a5024,4.0,60100,15025.0,4.128,151914.0,12.50,83.00,86.0,85.50,2517.0,NaN,NaN

In [210]:
# How to change data in data frame

x["listedproducts"][1]="sameer"  ## variable of file["column name"][index number] = "new data"

x.head(2)

,index,merchantid,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate
0,0,5357bcf2bb72c5504882e889,2.0,120000,60000.0,4.219,320031.0,9.00,20.0,54.0,54.0,8836.0,1.0,50.0
1,1,5708773c3c02161b3f8c7900,sameer,107100,21420.0,3.934,139223.0,7.76,34.2,61.0,61.0,4010.0,3.0,60.0

In [219]:
# How to get a particular data from selected columns and rows
# we use .loc[]

x.loc[[1,3],["listedproducts","rating"]] # variable.loc[[index / rows from which you want data]["column name1","column name2"]]

  listedproducts  rating
1         sameer   3.934
3            1.0   3.889

In [221]:
# How to get data of selected rows

x.loc[[1,3],:]

,index,merchantid,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate
1,1,5708773c3c02161b3f8c7900,sameer,107100,21420.0,3.934,139223.0,7.76,34.2,61.0,61.0,4010.0,3.0,60.0
3,3,570f3a713a698c14278bb51e,1.0,100000,100000.0,3.889,19248.0,5.67,19.0,71.0,71.0,18393.0,1.0,100.0

In [224]:
# How to drop or remove column from Data set temporarily

x.drop("merchantid",axis=1)

,index,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate
0,0,2.0,120000,60000.0,4.219,320031.0,9.00,20.0,54.0,54.0,8836.0,1.0,50.0
1,1,sameer,107100,21420.0,3.934,139223.0,7.76,34.2,61.0,61.0,4010.0,3.0,60.0
2,2,2.0,100007,50004.0,4.053,108048.0,8.00,8.0,-1.0,-1.0,5531.0,NaN,NaN
3,3,1.0,100000,100000.0,3.889,19248.0,5.67,19.0,71.0,71.0,18393.0,1.0,100.0
4,4,1.0,100000,100000.0,4.036,366898.0,5.00,33.0,85.0,85.0,13789.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
953,953,1.0,2,2.0,3.999,21307.0,11.00,10.0,-10.0,-10.0,1.0,NaN,NaN
954,954,1.0,2,2.0,4.303,693.0,16.00,16.0,0.0,0.0,0.0,NaN,NaN
955,955,1.0,1,1.0,3.598,378.0,2.72,9.0,70.0,70.0,0.0,NaN,NaN
956,956,1.0,1,1.0,3.956,1134.0,14.00,14.0,0.0,0.0,0.0,NaN,NaN
957,957,1.0,1,1.0,4.007,1380.0,11.00,30.0,64.0,64.0,0.0,NaN,NaN

In [228]:
# How to drop or remove row temporarily

x.drop(2,axis=0)

,index,merchantid,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate
0,0,5357bcf2bb72c5504882e889,2.0,120000,60000.0,4.219,320031.0,9.00,20.0,54.0,54.0,8836.0,1.0,50.0
1,1,5708773c3c02161b3f8c7900,sameer,107100,21420.0,3.934,139223.0,7.76,34.2,61.0,61.0,4010.0,3.0,60.0
3,3,570f3a713a698c14278bb51e,1.0,100000,100000.0,3.889,19248.0,5.67,19.0,71.0,71.0,18393.0,1.0,100.0
4,4,53082ea15aefb07dfe1f2a4f,1.0,100000,100000.0,4.036,366898.0,5.00,33.0,85.0,85.0,13789.0,NaN,NaN
5,5,53f2beb39020ee03566d6e18,1.0,100000,100000.0,4.067,330405.0,5.77,48.0,88.0,88.0,20744.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953,953,567bad8582c35f28103e5813,1.0,2,2.0,3.999,21307.0,11.00,10.0,-10.0,-10.0,1.0,NaN,NaN
954,954,5b24edf0d1c360301099e9c6,1.0,2,2.0,4.303,693.0,16.00,16.0,0.0,0.0,0.0,NaN,NaN
955,955,5d417e7070327a2743021677,1.0,1,1.0,3.598,378.0,2.72,9.0,70.0,70.0,0.0,NaN,NaN
956,956,5add589edb5f1f32114d07df,1.0,1,1.0,3.956,1134.0,14.00,14.0,0.0,0.0,0.0,NaN,NaN
957,957,5d4b8931933fb13f8a1fe232,1.0,1,1.0,4.007,1380.0,11.00,30.0,64.0,64.0,0.0,NaN,NaN

In [47]:
# It will show the number of rows you want from Data Set 

x = pd.read_csv("C:\\Users\\HP\\Downloads\\aa.csv",nrows=2)

x

,index,merchantid,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate
0,0,5357bcf2bb72c5504882e889,2,120000,60000.0,4.219,320031.0,9.00,20.0,54.0,54.0,8836.0,1.0,50.0
1,1,5708773c3c02161b3f8c7900,5,107100,21420.0,3.934,139223.0,7.76,34.2,61.0,61.0,4010.0,3.0,60.0

In [48]:
# How to get a particular column from Data Set 

x = pd.read_csv("C:\\Users\\HP\\Downloads\\aa.csv", usecols=["merchantid","rating"])

x.head(3)

                 merchantid  rating
0  5357bcf2bb72c5504882e889   4.219
1  5708773c3c02161b3f8c7900   3.934
2  5417aada4ad3ab27e954b76c   4.053

In [145]:
# Another method of getting a paricular column

y = pd.DataFrame(x,columns=["rating"])

y.head()

   rating
0   4.219
1   3.889
2   4.036
3   4.067
4   4.139

In [150]:
# How to skip rows from Data Set

x = pd.read_csv("C:\\Users\\HP\\Downloads\\aa.csv",skiprows= [0,3]) #skiprows = [index number of row, rows]

x.head()

,0,5357bcf2bb72c5504882e889,2,120000,60000.0,4.219,320031.0,9.0,20.0,54.0,54.0.1,8836.0,1.0,50.0
0,1,5708773c3c02161b3f8c7900,5,107100,21420.0,3.934,139223.0,7.76,34.20,61.0,61.00,4010.0,3.0,60.0
1,3,570f3a713a698c14278bb51e,1,100000,100000.0,3.889,19248.0,5.67,19.00,71.0,71.00,18393.0,1.0,100.0
2,4,53082ea15aefb07dfe1f2a4f,1,100000,100000.0,4.036,366898.0,5.00,33.00,85.0,85.00,13789.0,NaN,NaN
3,5,53f2beb39020ee03566d6e18,1,100000,100000.0,4.067,330405.0,5.77,48.00,88.0,88.00,20744.0,NaN,NaN
4,6,5926c5ace8ff5525241b368d,7,96000,13714.0,4.139,55499.0,6.69,6.29,-4.0,-3.86,2250.0,1.0,14.0

In [149]:
# How to find a particular data from Data Set

x["rating"][2] # variable of Data Frame["column name"][row index number]

4.036

In [125]:
# How to copy data of  a particular column and put into a new column

# variable of DF["column name from where you want to copy data"][slicing of rows between the wanted data]

x["and"] = x["listedproducts"][:]

x.head(3)

,index,merchantid,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate,and
0,0,5357bcf2bb72c5504882e889,2,120000,60000.0,4.219,320031.0,9.00,20.0,54.0,54.0,8836.0,1.0,50.0,2
1,1,5708773c3c02161b3f8c7900,5,107100,21420.0,3.934,139223.0,7.76,34.2,61.0,61.0,4010.0,3.0,60.0,5
2,2,5417aada4ad3ab27e954b76c,2,100007,50004.0,4.053,108048.0,8.00,8.0,-1.0,-1.0,5531.0,NaN,NaN,2

In [154]:
# How to make any column as a index

x = pd.read_csv("C:\\Users\\HP\\Downloads\\aa.csv",index_col="rating")

x.head(2)

,index,merchantid,listedproducts,totalunitssold,meanunitssoldperproduct,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate
rating,,,,,,,,,,,,,
4.219,0,5357bcf2bb72c5504882e889,2,120000,60000.0,320031.0,9.00,20.0,54.0,54.0,8836.0,1.0,50.0
3.934,1,5708773c3c02161b3f8c7900,5,107100,21420.0,139223.0,7.76,34.2,61.0,61.0,4010.0,3.0,60.0

In [159]:
# How to make any row as a heading

# header = the index number of row which you want to make the heading


x = pd.read_csv("C:\\Users\\HP\\Downloads\\aa.csv",header=1) 

x.head(2)

,0,5357bcf2bb72c5504882e889,2,120000,60000.0,4.219,320031.0,9.0,20.0,54.0,54.0.1,8836.0,1.0,50.0
0,1,5708773c3c02161b3f8c7900,5,107100,21420.0,3.934,139223.0,7.76,34.2,61.0,61.0,4010.0,3.0,60.0
1,2,5417aada4ad3ab27e954b76c,2,100007,50004.0,4.053,108048.0,8.00,8.0,-1.0,-1.0,5531.0,NaN,NaN

In [185]:
# How to make new column in Data Frame

x = pd.read_csv("C:\\Users\\HP\\Downloads\\aa.csv", names=["hello","hi"])

x.head(4)

,,,,,,,,,,,,hello,hi
index,merchantid,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate
0,5357bcf2bb72c5504882e889,2,120000,60000.0,4.219,320031.0,9.0,20.0,54.0,54.0,8836.0,1.0,50.0
1,5708773c3c02161b3f8c7900,5,107100,21420.0,3.934,139223.0,7.76,34.2,61.0,61.0,4010.0,3.0,60.0
2,5417aada4ad3ab27e954b76c,2,100007,50004.0,4.053,108048.0,8.0,8.0,-1.0,-1.0,5531.0,NaN,NaN

In [193]:
# How to change the data type of particular column

x = pd.read_csv("C:\\Users\\HP\\Downloads\\aa.csv", dtype={"listedproducts":"float"})

x.head(2)

,index,merchantid,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate
0,0,5357bcf2bb72c5504882e889,2.0,120000,60000.0,4.219,320031.0,9.00,20.0,54.0,54.0,8836.0,1.0,50.0
1,1,5708773c3c02161b3f8c7900,5.0,107100,21420.0,3.934,139223.0,7.76,34.2,61.0,61.0,4010.0,3.0,60.0

# Dropna

## .dropna() :- it drops or removes row/column where any value is missing.

In [229]:
x.dropna()

,index,merchantid,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate
0,0,5357bcf2bb72c5504882e889,2.0,120000,60000.0,4.219,320031.0,9.00,20.00,54.0,54.00,8836.0,1.0,50.0
1,1,5708773c3c02161b3f8c7900,sameer,107100,21420.0,3.934,139223.0,7.76,34.20,61.0,61.00,4010.0,3.0,60.0
3,3,570f3a713a698c14278bb51e,1.0,100000,100000.0,3.889,19248.0,5.67,19.00,71.0,71.00,18393.0,1.0,100.0
6,6,5926c5ace8ff5525241b368d,7.0,96000,13714.0,4.139,55499.0,6.69,6.29,-4.0,-3.86,2250.0,1.0,14.0
7,7,5860c757b1e41d4d67d183e8,4.0,90100,22525.0,4.049,151249.0,3.43,3.75,11.0,11.00,6290.0,2.0,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
931,931,5e4f81dc968c88593150e98e,1.0,10,10.0,3.778,72.0,3.70,9.00,59.0,59.00,4.0,1.0,100.0
932,932,58c214fd95dc43508c12899c,1.0,10,10.0,3.810,4485.0,7.00,7.00,0.0,0.00,11.0,1.0,100.0
934,934,5af917558699ce1103dd6010,1.0,10,10.0,3.875,514.0,14.00,12.00,-16.0,-16.00,2.0,1.0,100.0
939,939,57c4dd2ce2a1b61c74c4265a,1.0,10,10.0,4.037,28798.0,5.65,33.00,83.0,83.00,0.0,1.0,100.0
945,945,56025ed8293a5b2d24779bde,1.0,10,10.0,4.295,22621.0,11.00,30.00,64.0,64.00,0.0,1.0,100.0

In [233]:
# It drops all rows where any value is missing

x.dropna(how="any")

,index,merchantid,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate
0,0,5357bcf2bb72c5504882e889,2.0,120000,60000.0,4.219,320031.0,9.00,20.00,54.0,54.00,8836.0,1.0,50.0
1,1,5708773c3c02161b3f8c7900,sameer,107100,21420.0,3.934,139223.0,7.76,34.20,61.0,61.00,4010.0,3.0,60.0
3,3,570f3a713a698c14278bb51e,1.0,100000,100000.0,3.889,19248.0,5.67,19.00,71.0,71.00,18393.0,1.0,100.0
6,6,5926c5ace8ff5525241b368d,7.0,96000,13714.0,4.139,55499.0,6.69,6.29,-4.0,-3.86,2250.0,1.0,14.0
7,7,5860c757b1e41d4d67d183e8,4.0,90100,22525.0,4.049,151249.0,3.43,3.75,11.0,11.00,6290.0,2.0,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
931,931,5e4f81dc968c88593150e98e,1.0,10,10.0,3.778,72.0,3.70,9.00,59.0,59.00,4.0,1.0,100.0
932,932,58c214fd95dc43508c12899c,1.0,10,10.0,3.810,4485.0,7.00,7.00,0.0,0.00,11.0,1.0,100.0
934,934,5af917558699ce1103dd6010,1.0,10,10.0,3.875,514.0,14.00,12.00,-16.0,-16.00,2.0,1.0,100.0
939,939,57c4dd2ce2a1b61c74c4265a,1.0,10,10.0,4.037,28798.0,5.65,33.00,83.0,83.00,0.0,1.0,100.0
945,945,56025ed8293a5b2d24779bde,1.0,10,10.0,4.295,22621.0,11.00,30.00,64.0,64.00,0.0,1.0,100.0

In [234]:
# It drops rows where all values are "NaN"

x.dropna(how="all")

,index,merchantid,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate
0,0,5357bcf2bb72c5504882e889,2.0,120000,60000.0,4.219,320031.0,9.00,20.0,54.0,54.0,8836.0,1.0,50.0
1,1,5708773c3c02161b3f8c7900,sameer,107100,21420.0,3.934,139223.0,7.76,34.2,61.0,61.0,4010.0,3.0,60.0
2,2,5417aada4ad3ab27e954b76c,2.0,100007,50004.0,4.053,108048.0,8.00,8.0,-1.0,-1.0,5531.0,NaN,NaN
3,3,570f3a713a698c14278bb51e,1.0,100000,100000.0,3.889,19248.0,5.67,19.0,71.0,71.0,18393.0,1.0,100.0
4,4,53082ea15aefb07dfe1f2a4f,1.0,100000,100000.0,4.036,366898.0,5.00,33.0,85.0,85.0,13789.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953,953,567bad8582c35f28103e5813,1.0,2,2.0,3.999,21307.0,11.00,10.0,-10.0,-10.0,1.0,NaN,NaN
954,954,5b24edf0d1c360301099e9c6,1.0,2,2.0,4.303,693.0,16.00,16.0,0.0,0.0,0.0,NaN,NaN
955,955,5d417e7070327a2743021677,1.0,1,1.0,3.598,378.0,2.72,9.0,70.0,70.0,0.0,NaN,NaN
956,956,5add589edb5f1f32114d07df,1.0,1,1.0,3.956,1134.0,14.00,14.0,0.0,0.0,0.0,NaN,NaN
957,957,5d4b8931933fb13f8a1fe232,1.0,1,1.0,4.007,1380.0,11.00,30.0,64.0,64.0,0.0,NaN,NaN

In [237]:
# How to remove 'NaN' values of a particular column's rows

# we use .dropna(subset=["column name"])

# it removes rows where 'NaN' is in given column name

x.dropna(subset=["listedproducts"])

,index,merchantid,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate
0,0,5357bcf2bb72c5504882e889,2.0,120000,60000.0,4.219,320031.0,9.00,20.0,54.0,54.0,8836.0,1.0,50.0
1,1,5708773c3c02161b3f8c7900,sameer,107100,21420.0,3.934,139223.0,7.76,34.2,61.0,61.0,4010.0,3.0,60.0
2,2,5417aada4ad3ab27e954b76c,2.0,100007,50004.0,4.053,108048.0,8.00,8.0,-1.0,-1.0,5531.0,NaN,NaN
3,3,570f3a713a698c14278bb51e,1.0,100000,100000.0,3.889,19248.0,5.67,19.0,71.0,71.0,18393.0,1.0,100.0
4,4,53082ea15aefb07dfe1f2a4f,1.0,100000,100000.0,4.036,366898.0,5.00,33.0,85.0,85.0,13789.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953,953,567bad8582c35f28103e5813,1.0,2,2.0,3.999,21307.0,11.00,10.0,-10.0,-10.0,1.0,NaN,NaN
954,954,5b24edf0d1c360301099e9c6,1.0,2,2.0,4.303,693.0,16.00,16.0,0.0,0.0,0.0,NaN,NaN
955,955,5d417e7070327a2743021677,1.0,1,1.0,3.598,378.0,2.72,9.0,70.0,70.0,0.0,NaN,NaN
956,956,5add589edb5f1f32114d07df,1.0,1,1.0,3.956,1134.0,14.00,14.0,0.0,0.0,0.0,NaN,NaN
957,957,5d4b8931933fb13f8a1fe232,1.0,1,1.0,4.007,1380.0,11.00,30.0,64.0,64.0,0.0,NaN,NaN

# fillna() :-  it is use to fill values at place of null values in Data Set

In [245]:
# How to fill value at 'NaN' Place

x.fillna("panda")

,index,merchantid,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate
0,0,5357bcf2bb72c5504882e889,2.0,120000,60000.0,4.219,320031.0,9.00,20.0,54.0,54.0,8836.0,1.0,50.0
1,1,5708773c3c02161b3f8c7900,sameer,107100,21420.0,3.934,139223.0,7.76,34.2,61.0,61.0,4010.0,3.0,60.0
2,2,5417aada4ad3ab27e954b76c,2.0,100007,50004.0,4.053,108048.0,8.00,8.0,-1.0,-1.0,5531.0,panda,panda
3,3,570f3a713a698c14278bb51e,1.0,100000,100000.0,3.889,19248.0,5.67,19.0,71.0,71.0,18393.0,1.0,100.0
4,4,53082ea15aefb07dfe1f2a4f,1.0,100000,100000.0,4.036,366898.0,5.00,33.0,85.0,85.0,13789.0,panda,panda
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953,953,567bad8582c35f28103e5813,1.0,2,2.0,3.999,21307.0,11.00,10.0,-10.0,-10.0,1.0,panda,panda
954,954,5b24edf0d1c360301099e9c6,1.0,2,2.0,4.303,693.0,16.00,16.0,0.0,0.0,0.0,panda,panda
955,955,5d417e7070327a2743021677,1.0,1,1.0,3.598,378.0,2.72,9.0,70.0,70.0,0.0,panda,panda
956,956,5add589edb5f1f32114d07df,1.0,1,1.0,3.956,1134.0,14.00,14.0,0.0,0.0,0.0,panda,panda
957,957,5d4b8931933fb13f8a1fe232,1.0,1,1.0,4.007,1380.0,11.00,30.0,64.0,64.0,0.0,panda,panda

In [246]:
# How to fill different values in different columns

x.fillna({"totalurgencycount":"sameer","urgencytextrate":"ansari"})

,index,merchantid,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate
0,0,5357bcf2bb72c5504882e889,2.0,120000,60000.0,4.219,320031.0,9.00,20.0,54.0,54.0,8836.0,1.0,50.0
1,1,5708773c3c02161b3f8c7900,sameer,107100,21420.0,3.934,139223.0,7.76,34.2,61.0,61.0,4010.0,3.0,60.0
2,2,5417aada4ad3ab27e954b76c,2.0,100007,50004.0,4.053,108048.0,8.00,8.0,-1.0,-1.0,5531.0,sameer,ansari
3,3,570f3a713a698c14278bb51e,1.0,100000,100000.0,3.889,19248.0,5.67,19.0,71.0,71.0,18393.0,1.0,100.0
4,4,53082ea15aefb07dfe1f2a4f,1.0,100000,100000.0,4.036,366898.0,5.00,33.0,85.0,85.0,13789.0,sameer,ansari
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953,953,567bad8582c35f28103e5813,1.0,2,2.0,3.999,21307.0,11.00,10.0,-10.0,-10.0,1.0,sameer,ansari
954,954,5b24edf0d1c360301099e9c6,1.0,2,2.0,4.303,693.0,16.00,16.0,0.0,0.0,0.0,sameer,ansari
955,955,5d417e7070327a2743021677,1.0,1,1.0,3.598,378.0,2.72,9.0,70.0,70.0,0.0,sameer,ansari
956,956,5add589edb5f1f32114d07df,1.0,1,1.0,3.956,1134.0,14.00,14.0,0.0,0.0,0.0,sameer,ansari
957,957,5d4b8931933fb13f8a1fe232,1.0,1,1.0,4.007,1380.0,11.00,30.0,64.0,64.0,0.0,sameer,ansari

In [247]:
# There are two methods of filling the 'NaN' values
# Fordward filling or "ffill":- It fills the value with the previous value
# Backward or "bfill":- It fills the value with the next value
# we can apply this on the basis of axis

x.fillna(method="ffill")

,index,merchantid,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate
0,0,5357bcf2bb72c5504882e889,2.0,120000,60000.0,4.219,320031.0,9.00,20.0,54.0,54.0,8836.0,1.0,50.0
1,1,5708773c3c02161b3f8c7900,sameer,107100,21420.0,3.934,139223.0,7.76,34.2,61.0,61.0,4010.0,3.0,60.0
2,2,5417aada4ad3ab27e954b76c,2.0,100007,50004.0,4.053,108048.0,8.00,8.0,-1.0,-1.0,5531.0,3.0,60.0
3,3,570f3a713a698c14278bb51e,1.0,100000,100000.0,3.889,19248.0,5.67,19.0,71.0,71.0,18393.0,1.0,100.0
4,4,53082ea15aefb07dfe1f2a4f,1.0,100000,100000.0,4.036,366898.0,5.00,33.0,85.0,85.0,13789.0,1.0,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953,953,567bad8582c35f28103e5813,1.0,2,2.0,3.999,21307.0,11.00,10.0,-10.0,-10.0,1.0,1.0,100.0
954,954,5b24edf0d1c360301099e9c6,1.0,2,2.0,4.303,693.0,16.00,16.0,0.0,0.0,0.0,1.0,100.0
955,955,5d417e7070327a2743021677,1.0,1,1.0,3.598,378.0,2.72,9.0,70.0,70.0,0.0,1.0,100.0
956,956,5add589edb5f1f32114d07df,1.0,1,1.0,3.956,1134.0,14.00,14.0,0.0,0.0,0.0,1.0,100.0
957,957,5d4b8931933fb13f8a1fe232,1.0,1,1.0,4.007,1380.0,11.00,30.0,64.0,64.0,0.0,1.0,100.0

In [248]:
x.fillna(method="bfill")

,index,merchantid,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate
0,0,5357bcf2bb72c5504882e889,2.0,120000,60000.0,4.219,320031.0,9.00,20.0,54.0,54.0,8836.0,1.0,50.0
1,1,5708773c3c02161b3f8c7900,sameer,107100,21420.0,3.934,139223.0,7.76,34.2,61.0,61.0,4010.0,3.0,60.0
2,2,5417aada4ad3ab27e954b76c,2.0,100007,50004.0,4.053,108048.0,8.00,8.0,-1.0,-1.0,5531.0,1.0,100.0
3,3,570f3a713a698c14278bb51e,1.0,100000,100000.0,3.889,19248.0,5.67,19.0,71.0,71.0,18393.0,1.0,100.0
4,4,53082ea15aefb07dfe1f2a4f,1.0,100000,100000.0,4.036,366898.0,5.00,33.0,85.0,85.0,13789.0,1.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953,953,567bad8582c35f28103e5813,1.0,2,2.0,3.999,21307.0,11.00,10.0,-10.0,-10.0,1.0,NaN,NaN
954,954,5b24edf0d1c360301099e9c6,1.0,2,2.0,4.303,693.0,16.00,16.0,0.0,0.0,0.0,NaN,NaN
955,955,5d417e7070327a2743021677,1.0,1,1.0,3.598,378.0,2.72,9.0,70.0,70.0,0.0,NaN,NaN
956,956,5add589edb5f1f32114d07df,1.0,1,1.0,3.956,1134.0,14.00,14.0,0.0,0.0,0.0,NaN,NaN
957,957,5d4b8931933fb13f8a1fe232,1.0,1,1.0,4.007,1380.0,11.00,30.0,64.0,64.0,0.0,NaN,NaN

In [251]:
x.fillna(method="ffill",axis=0)

,index,merchantid,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate
0,0,5357bcf2bb72c5504882e889,2.0,120000,60000.0,4.219,320031.0,9.00,20.0,54.0,54.0,8836.0,1.0,50.0
1,1,5708773c3c02161b3f8c7900,sameer,107100,21420.0,3.934,139223.0,7.76,34.2,61.0,61.0,4010.0,3.0,60.0
2,2,5417aada4ad3ab27e954b76c,2.0,100007,50004.0,4.053,108048.0,8.00,8.0,-1.0,-1.0,5531.0,3.0,60.0
3,3,570f3a713a698c14278bb51e,1.0,100000,100000.0,3.889,19248.0,5.67,19.0,71.0,71.0,18393.0,1.0,100.0
4,4,53082ea15aefb07dfe1f2a4f,1.0,100000,100000.0,4.036,366898.0,5.00,33.0,85.0,85.0,13789.0,1.0,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953,953,567bad8582c35f28103e5813,1.0,2,2.0,3.999,21307.0,11.00,10.0,-10.0,-10.0,1.0,1.0,100.0
954,954,5b24edf0d1c360301099e9c6,1.0,2,2.0,4.303,693.0,16.00,16.0,0.0,0.0,0.0,1.0,100.0
955,955,5d417e7070327a2743021677,1.0,1,1.0,3.598,378.0,2.72,9.0,70.0,70.0,0.0,1.0,100.0
956,956,5add589edb5f1f32114d07df,1.0,1,1.0,3.956,1134.0,14.00,14.0,0.0,0.0,0.0,1.0,100.0
957,957,5d4b8931933fb13f8a1fe232,1.0,1,1.0,4.007,1380.0,11.00,30.0,64.0,64.0,0.0,1.0,100.0

# Arithmetic Operations in Pandas

## Addition of 2 or multiple columns and put in a new column

In [75]:
x["Addition"] = x["rating"] + x["listedproducts"]

x.head(3)

,index,merchantid,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate,Addition
0,0,5357bcf2bb72c5504882e889,2,120000,60000.0,4.219,320031.0,9.00,20.0,54.0,54.0,8836.0,1.0,50.0,6.219
1,1,5708773c3c02161b3f8c7900,5,107100,21420.0,3.934,139223.0,7.76,34.2,61.0,61.0,4010.0,3.0,60.0,8.934
2,2,5417aada4ad3ab27e954b76c,2,100007,50004.0,4.053,108048.0,8.00,8.0,-1.0,-1.0,5531.0,NaN,NaN,6.053

### NOTE:- We can perform any arithmetic operation by same method. Like: +, -, *, /, etc.

# Logical Operators (>=,<=, etc.)

## It will show the result in True / False.

In [84]:
x["Hello"] = x["listedproducts"] >= 5
x["Hi"] = x["listedproducts"] < 5

x.head(2)

,index,merchantid,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate,Addition,Hello,Hi
0,0,5357bcf2bb72c5504882e889,2,120000,60000.0,4.219,320031.0,9.00,20.0,54.0,54.0,8836.0,1.0,50.0,6.219,False,True
1,1,5708773c3c02161b3f8c7900,5,107100,21420.0,3.934,139223.0,7.76,34.2,61.0,61.0,4010.0,3.0,60.0,8.934,True,False

# Delete

## Delete Function is used by 2 keyword :- 
## del
## .pop()

In [127]:
# How to delete a particular column from Data Set

y = x.pop("index")

y

0    0
1    1
2    2
3    3
4    4
Name: index, dtype: int64

In [129]:
x.head()

,merchantid,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate,and
0,5357bcf2bb72c5504882e889,2,120000,60000.0,4.219,320031.0,9.00,20.0,54.0,54.0,8836.0,1.0,50.0,2
1,5708773c3c02161b3f8c7900,5,107100,21420.0,3.934,139223.0,7.76,34.2,61.0,61.0,4010.0,3.0,60.0,5
2,5417aada4ad3ab27e954b76c,2,100007,50004.0,4.053,108048.0,8.00,8.0,-1.0,-1.0,5531.0,NaN,NaN,2
3,570f3a713a698c14278bb51e,1,100000,100000.0,3.889,19248.0,5.67,19.0,71.0,71.0,18393.0,1.0,100.0,1
4,53082ea15aefb07dfe1f2a4f,1,100000,100000.0,4.036,366898.0,5.00,33.0,85.0,85.0,13789.0,NaN,NaN,1

In [116]:
del x["merchantid"]

In [117]:
x.head(3)

,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate
0,2,120000,60000.0,4.219,320031.0,9.00,20.0,54.0,54.0,8836.0,1.0,50.0
1,5,107100,21420.0,3.934,139223.0,7.76,34.2,61.0,61.0,4010.0,3.0,60.0
2,2,100007,50004.0,4.053,108048.0,8.00,8.0,-1.0,-1.0,5531.0,NaN,NaN

# Replace

In [257]:
# How to any value in Data Set with another value

x.replace(to_replace=2,value=1000)

,index,merchantid,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate
0,0,5357bcf2bb72c5504882e889,1000,120000,60000.0,4.219,320031.0,9.00,20.0,54.0,54.0,8836.0,1.0,50.0
1,1,5708773c3c02161b3f8c7900,5,107100,21420.0,3.934,139223.0,7.76,34.2,61.0,61.0,4010.0,3.0,60.0
2,1000,5417aada4ad3ab27e954b76c,1000,100007,50004.0,4.053,108048.0,8.00,8.0,-1.0,-1.0,5531.0,NaN,NaN
3,3,570f3a713a698c14278bb51e,1,100000,100000.0,3.889,19248.0,5.67,19.0,71.0,71.0,18393.0,1.0,100.0
4,4,53082ea15aefb07dfe1f2a4f,1,100000,100000.0,4.036,366898.0,5.00,33.0,85.0,85.0,13789.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953,953,567bad8582c35f28103e5813,1,1000,1000.0,3.999,21307.0,11.00,10.0,-10.0,-10.0,1.0,NaN,NaN
954,954,5b24edf0d1c360301099e9c6,1,1000,1000.0,4.303,693.0,16.00,16.0,0.0,0.0,0.0,NaN,NaN
955,955,5d417e7070327a2743021677,1,1,1.0,3.598,378.0,2.72,9.0,70.0,70.0,0.0,NaN,NaN
956,956,5add589edb5f1f32114d07df,1,1,1.0,3.956,1134.0,14.00,14.0,0.0,0.0,0.0,NaN,NaN
957,957,5d4b8931933fb13f8a1fe232,1,1,1.0,4.007,1380.0,11.00,30.0,64.0,64.0,0.0,NaN,NaN

In [258]:
# Replace a value in particular column

x.replace(to_replace={"totalunitssold":120000},value=10)

,index,merchantid,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate
0,0,5357bcf2bb72c5504882e889,2,10,60000.0,4.219,320031.0,9.00,20.0,54.0,54.0,8836.0,1.0,50.0
1,1,5708773c3c02161b3f8c7900,5,107100,21420.0,3.934,139223.0,7.76,34.2,61.0,61.0,4010.0,3.0,60.0
2,2,5417aada4ad3ab27e954b76c,2,100007,50004.0,4.053,108048.0,8.00,8.0,-1.0,-1.0,5531.0,NaN,NaN
3,3,570f3a713a698c14278bb51e,1,100000,100000.0,3.889,19248.0,5.67,19.0,71.0,71.0,18393.0,1.0,100.0
4,4,53082ea15aefb07dfe1f2a4f,1,100000,100000.0,4.036,366898.0,5.00,33.0,85.0,85.0,13789.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953,953,567bad8582c35f28103e5813,1,2,2.0,3.999,21307.0,11.00,10.0,-10.0,-10.0,1.0,NaN,NaN
954,954,5b24edf0d1c360301099e9c6,1,2,2.0,4.303,693.0,16.00,16.0,0.0,0.0,0.0,NaN,NaN
955,955,5d417e7070327a2743021677,1,1,1.0,3.598,378.0,2.72,9.0,70.0,70.0,0.0,NaN,NaN
956,956,5add589edb5f1f32114d07df,1,1,1.0,3.956,1134.0,14.00,14.0,0.0,0.0,0.0,NaN,NaN
957,957,5d4b8931933fb13f8a1fe232,1,1,1.0,4.007,1380.0,11.00,30.0,64.0,64.0,0.0,NaN,NaN

In [259]:
# Replace the data by forward filling

x.replace(to_replace=5,method="ffill")

,index,merchantid,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate
0,0,5357bcf2bb72c5504882e889,2,120000,60000.0,4.219,320031.0,9.00,20.0,54.0,54.0,8836.0,1.0,50.0
1,1,5708773c3c02161b3f8c7900,2,107100,21420.0,3.934,139223.0,7.76,34.2,61.0,61.0,4010.0,3.0,60.0
2,2,5417aada4ad3ab27e954b76c,2,100007,50004.0,4.053,108048.0,8.00,8.0,-1.0,-1.0,5531.0,NaN,NaN
3,3,570f3a713a698c14278bb51e,1,100000,100000.0,3.889,19248.0,5.67,19.0,71.0,71.0,18393.0,1.0,100.0
4,4,53082ea15aefb07dfe1f2a4f,1,100000,100000.0,4.036,366898.0,5.67,33.0,85.0,85.0,13789.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953,953,567bad8582c35f28103e5813,1,2,2.0,3.999,21307.0,11.00,10.0,-10.0,-10.0,1.0,NaN,NaN
954,954,5b24edf0d1c360301099e9c6,1,2,2.0,4.303,693.0,16.00,16.0,0.0,0.0,0.0,NaN,NaN
955,955,5d417e7070327a2743021677,1,1,1.0,3.598,378.0,2.72,9.0,70.0,70.0,0.0,NaN,NaN
956,956,5add589edb5f1f32114d07df,1,1,1.0,3.956,1134.0,14.00,14.0,0.0,0.0,0.0,NaN,NaN
957,957,5d4b8931933fb13f8a1fe232,1,1,1.0,4.007,1380.0,11.00,30.0,64.0,64.0,0.0,NaN,NaN

In [260]:
# Replace the data by backward filling

x.replace(1,method="bfill")

,index,merchantid,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate
0,0,5357bcf2bb72c5504882e889,2,120000,60000.0,4.219,320031.0,9.00,20.0,54.0,54.0,8836.0,3.0,50.0
1,2,5708773c3c02161b3f8c7900,5,107100,21420.0,3.934,139223.0,7.76,34.2,61.0,61.0,4010.0,3.0,60.0
2,2,5417aada4ad3ab27e954b76c,2,100007,50004.0,4.053,108048.0,8.00,8.0,-1.0,-1.0,5531.0,NaN,NaN
3,3,570f3a713a698c14278bb51e,7,100000,100000.0,3.889,19248.0,5.67,19.0,71.0,71.0,18393.0,NaN,100.0
4,4,53082ea15aefb07dfe1f2a4f,7,100000,100000.0,4.036,366898.0,5.00,33.0,85.0,85.0,13789.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953,953,567bad8582c35f28103e5813,1,2,2.0,3.999,21307.0,11.00,10.0,-10.0,-10.0,0.0,NaN,NaN
954,954,5b24edf0d1c360301099e9c6,1,2,2.0,4.303,693.0,16.00,16.0,0.0,0.0,0.0,NaN,NaN
955,955,5d417e7070327a2743021677,1,1,1.0,3.598,378.0,2.72,9.0,70.0,70.0,0.0,NaN,NaN
956,956,5add589edb5f1f32114d07df,1,1,1.0,3.956,1134.0,14.00,14.0,0.0,0.0,0.0,NaN,NaN
957,957,5d4b8931933fb13f8a1fe232,1,1,1.0,4.007,1380.0,11.00,30.0,64.0,64.0,0.0,NaN,NaN

# Interpolate :- It will automatically fill the "NaN" values of a Numerical cloumn in linear form

In [261]:
x.interpolate()

,index,merchantid,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate
0,0,5357bcf2bb72c5504882e889,2,120000,60000.0,4.219,320031.0,9.00,20.0,54.0,54.0,8836.0,1.0,50.000000
1,1,5708773c3c02161b3f8c7900,5,107100,21420.0,3.934,139223.0,7.76,34.2,61.0,61.0,4010.0,3.0,60.000000
2,2,5417aada4ad3ab27e954b76c,2,100007,50004.0,4.053,108048.0,8.00,8.0,-1.0,-1.0,5531.0,2.0,80.000000
3,3,570f3a713a698c14278bb51e,1,100000,100000.0,3.889,19248.0,5.67,19.0,71.0,71.0,18393.0,1.0,100.000000
4,4,53082ea15aefb07dfe1f2a4f,1,100000,100000.0,4.036,366898.0,5.00,33.0,85.0,85.0,13789.0,1.0,71.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953,953,567bad8582c35f28103e5813,1,2,2.0,3.999,21307.0,11.00,10.0,-10.0,-10.0,1.0,1.0,100.000000
954,954,5b24edf0d1c360301099e9c6,1,2,2.0,4.303,693.0,16.00,16.0,0.0,0.0,0.0,1.0,100.000000
955,955,5d417e7070327a2743021677,1,1,1.0,3.598,378.0,2.72,9.0,70.0,70.0,0.0,1.0,100.000000
956,956,5add589edb5f1f32114d07df,1,1,1.0,3.956,1134.0,14.00,14.0,0.0,0.0,0.0,1.0,100.000000
957,957,5d4b8931933fb13f8a1fe232,1,1,1.0,4.007,1380.0,11.00,30.0,64.0,64.0,0.0,1.0,100.000000

# Merge

## Merge function use to merge data sets with minimum one similar column name. It only merge Data Sets Horizonatlly not Vertically.

In [262]:
# Add 2 data sets for practice

x = pd.read_csv("C:\\Users\\HP\\Downloads\\aa.csv")
y= pd.read_csv("C:\\Users\\HP\\Downloads\\bb.csv")

In [265]:
y.head(2)

,index,title,title_orig,price,retail_price,currency_buyer,totalunitssold,uses_ad_boosts,rating,rating_count,rating_five_count,rating_four_count,rating_three_count,rating_two_count,rating_one_count,badges_count,badge_local_product,badge_product_quality,badge_fast_shipping,tags,product_color,product_variation_size_id,product_variation_inventory,shipping_option_name,shipping_option_price,shipping_is_express,countries_shipped_to,inventory_total,has_urgency_banner,urgency_text,origin_country,merchant_title,merchant_name,merchant_info_subtitle,merchant_rating_count,merchant_rating,merchant_id,merchant_has_profile_picture,merchant_profile_picture,product_url,product_picture,product_id,theme,crawl_month
0,0,2020 Summer Vintage Flamingo Print Pajamas Se...,2020 Summer Vintage Flamingo Print Pajamas Se...,16.0,14,EUR,100,0,3.76,54,26.0,8.0,10.0,1.0,9.0,0,0,0,0,"Summer,Fashion,womenunderwearsuit,printedpajam...",white,M,50,Livraison standard,4,0,34,50,1.0,Quantit limite !,CN,zgrdejia,zgrdejia,(568 notes),568,4.128521,595097d6a26f6e070cb878d1,0,NaN,https://www.wish.com/c/5e9ae51d43d6a96e303acdb0,https://contestimg.wish.com/api/webimage/5e9ae...,5e9ae51d43d6a96e303acdb0,summer,2020-08
1,1,SSHOUSE Summer Casual Sleeveless Soire Party ...,Women's Casual Summer Sleeveless Sexy Mini Dress,8.0,22,EUR,20000,1,3.45,6135,2269.0,1027.0,1118.0,644.0,1077.0,0,0,0,0,"Mini,womens dresses,Summer,Patchwork,fashion d...",green,XS,50,Livraison standard,2,0,41,50,1.0,Quantit limite !,CN,SaraHouse,sarahouse,"83 % avis positifs (17,752 notes)",17752,3.899673,56458aa03a698c35c9050988,0,NaN,https://www.wish.com/c/58940d436a0d3d5da4e95a38,https://contestimg.wish.com/api/webimage/58940...,58940d436a0d3d5da4e95a38,summer,2020-08

In [267]:
# Remember that one similar column is must available to join another data set on 

pd.merge(x,y,on="totalunitssold")

,index_x,merchantid,listedproducts,totalunitssold,meanunitssoldperproduct,rating_x,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate,index_y,title,title_orig,price,retail_price,currency_buyer,uses_ad_boosts,rating_y,rating_count,rating_five_count,rating_four_count,rating_three_count,rating_two_count,rating_one_count,badges_count,badge_local_product,badge_product_quality,badge_fast_shipping,tags,product_color,product_variation_size_id,product_variation_inventory,shipping_option_name,shipping_option_price,shipping_is_express,countries_shipped_to,inventory_total,has_urgency_banner,urgency_text,origin_country,merchant_title,merchant_name,merchant_info_subtitle,merchant_rating_count,merchant_rating,merchant_id,merchant_has_profile_picture,merchant_profile_picture,product_url,product_picture,product_id,theme,crawl_month
0,3,570f3a713a698c14278bb51e,1,100000,100000.0,3.889,19248.0,5.67,19.0,71.0,71.0,18393.0,1.0,100.0,17,2018 New Fashion Women's Tops Sexy Strappy Sle...,2018 New Fashion Women's Tops Sexy Strappy Sle...,5.00,25,EUR,1,3.83,17980,8290.0,3483.0,2951.0,1410.0,1846.0,0,0,0,0,"blouse,Plus Size,Lace,lace top,Tops,Fashion,st...",white,S,50,Livraison standard,1,0,41,50,1.0,Quantit limite !,CN,leiston,leiston,"84 % avis positifs (139,223 notes)",139223,3.933581,5708773c3c02161b3f8c7900,0,NaN,https://www.wish.com/c/5b07a7c6e997b33c6f9947da,https://contestimg.wish.com/api/webimage/5b07a...,5b07a7c6e997b33c6f9947da,summer,2020-08
1,3,570f3a713a698c14278bb51e,1,100000,100000.0,3.889,19248.0,5.67,19.0,71.0,71.0,18393.0,1.0,100.0,92,Femmes Camisole extensible Spaghetti Strap Lon...,Women Stretchy Camisole Spaghetti Strap Long T...,5.77,48,EUR,0,4.10,20744,11184.0,4152.0,2919.0,1174.0,1315.0,0,0,0,0,"Mini,Strapless Dress,Spaghetti Strap,Tank,Tops...",black,XS,50,Livraison standard,2,0,46,50,NaN,NaN,CN,trendy_world,shanghailalanginternationaltradecoltd,"86 % avis positifs (330,405 notes)",330405,4.067348,53f2beb39020ee03566d6e18,1,https://s3-us-west-1.amazonaws.com/sweeper-pro...,https://www.wish.com/c/544b079d1280fa28eee9b380,https://contestimg.wish.com/api/webimage/544b0...,544b079d1280fa28eee9b380,summer,2020-08
2,3,570f3a713a698c14278bb51e,1,100000,100000.0,3.889,19248.0,5.67,19.0,71.0,71.0,18393.0,1.0,100.0,214,Nouveau Aeeival Femmes Vtements Manches Lon...,New Aeeival Women Clothing Long Sleeve Autumn ...,8.00,7,EUR,1,3.76,11062,4663.0,2418.0,1868.0,842.0,1271.0,0,0,0,0,"roupas femininas,womens dresses,Lace,gowns,Lon...",light green,M,10,Livraison standard,2,0,38,50,NaN,NaN,CN,"SHENZHEN LONGDRAGON TECHNOLOGY CO.,LTD",shenzhenlongdragontechnologycoltd,"87 % avis positifs (108,048 notes)",108048,4.052504,5417aada4ad3ab27e954b76c,1,https://s3-us-west-1.amazonaws.com/sweeper-pro...,https://www.wish.com/c/54bdf18039b8c045f118936a,https://contestimg.wish.com/api/webimage/54bdf...,54bdf18039b8c045f118936a,summer,2020-08
3,3,570f3a713a698c14278bb51e,1,100000,100000.0,3.889,19248.0,5.67,19.0,71.0,71.0,18393.0,1.0,100.0,251,T-shirt manches courtes en mousseline de soi...,Womens Summer Red White and Blue Chiffon Short...,5.00,33,EUR,0,3.98,13789,6862.0,2836.0,2131.0,901.0,1059.0,0,0,0,0,"Summer,Plus Size,Cotton T Shirt,chiffon,Long S...",orange,S,50,Livraison standard,1,0,41,50,NaN,NaN,CN,bigcompany,bigcompany,"86 % avis positifs (366,898 notes)",366898,4.036081,53082ea15aefb07dfe1f2a4f,0,NaN,https://www.wish.com/c/53897eeeafddf70c91af1cda,https://contestimg.wish.com/api/webimage/53897...,53897eeeafddf70c91af1cda,summer,2020-08
4,3,570f3a713a698c14278bb51e,1,100000,100000.0,3.889,19248.0,5.67,19.0,71.0,71.0,18393.0,1.0,100.0,1018,Femmes dentelle manches courtes hauts hauts ch...,Women Lace Short Sleeve Long Tops Blouse Shirt...,7.00,22,EUR,1,3.82,11913,5355.0,2430.0,1974.0,960.0,1194.0,0,0,0,0,"blouse,Fashion,Shirt,boho,Tops,summer t-shirts...",NaN,S,50,Livraison standard,2,0,46,50,NaN,NaN,CN,ApparelHeaven,primesalecolimited,"90 % avis positifs (320,031 notes)",320031,4.218866,5357bcf2bb72c5504882e889,1,https://s3-us-west-1.amazonaws.com/sweeper-pro...,https://www.wish.com/c/567cb0925ff12c4829f07dfb,https://contestimg.wish.com/api/webimage/567cb...,567cb0925ff12c4829f07dfb,summer,2020-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215270,956,5add589edb5f1f32114d07df,1,1,1.0,3.956,1134.0,14.00,14.0,0.0,0.0,0.0,NaN,NaN,348,Combinaisons dcontractes sans manches en cot...,Women Summer Fashion Cotton Overalls Sleeveles...,11.00,30,EUR,0,5.00,0,NaN,NaN,NaN,NaN,NaN,0,0,0,0,"Summer,Fashion,Cotton,Casual pants,rompersforw...",armygreen,XS,10,Livraison standard,2,0,33,50,NaN,NaN,CN,caogao,caogao,"(1,380 notes)",1380,4.007246,5d4b8931933fb13f8a1fe232,0,NaN,https://www.wish.com/c/5ebfdd5bebac37702b0b207b,https://contestimg.wish.com/api/webimage/5ebfd...,5ebfdd5bebac37702b0b207b,summer,2020-08
215271,956,5add589edb5f1f32114d07df,1,1,1.0,3.956,1134.0,14.00,14.0,0.0,0.0,0.0,NaN,NaN,1488,Nouvelles femmes d't mode couleur unie short...,New Women Summer Fashion Solid Color Shorts Ca...,14.00,14,EUR,0,5.00,0,NaN,NaN,NaN,NaN,NaN,0,0,0,0,"Summer,Plus Size,pants,summer shorts,summersho...",darkgreen,XXS,5,Livraison standard,4,0,27,50,NaN,NaN,CN,gaomeigui,gaomeigui,"84 % avis positifs (1,134 notes)",1134,3.955908,5add589edb5f1f32114d07df,0,NaN,https://www.wish.com/c/5eccb455d4eb5d46b00be0ed,https://contestimg.wish.com/api/webimage/5eccb...,5eccb455d4eb5d46b00be0ed,summer,2020-08
215272,957,5d4b8931933fb13f8a1fe232,1,1,1.0,4.007,1380.0,11.00,30.0,64.0,64.0,0.0,NaN,NaN,126,Women's Casual Sleeveless Stripe T Shirts Dres...,Women's Casual Sleeveless Stripe T Shirts Dres...,2.72,9,EUR,0,5.00,0,NaN,NaN,NaN,NaN,NaN,0,0,0,0,"Summer,Plus Size,Shirt,long dress,Dress,Women'...",orange,XS,1,Livraison standard,1,0,33,50,NaN,NaN,CN,Kyiswen,kyiswen,75 % avis positifs (378 notes),378,3.597884,5d417e7070327a2743021677,0,NaN,https://www.wish.com/c/5ed3ae8e7bf8821d5cf4bc64,https://contestimg.wish.com/api/webimage/5ed3a...,5ed3ae8e7bf8821d5cf4bc64,summer,2020-08
215273,957,5d4b8931933fb13f8a1fe232,1,1,1.0,4.007,1380.0,11.00,30.0,64.0,64.0,0.0,NaN,NaN,348,Combinaisons dcontractes sans manches en cot...,Women Summer Fashion Cotton Overalls Sleeveles...,11.00,30,EUR,0,5.00,0,NaN,NaN,NaN,NaN,NaN,0,0,0,0,"Summer,Fashion,Cotton,Casual pants,rompersforw...",armygreen,XS,10,Livraison standard,2,0,33,50,NaN,NaN,CN,caogao,caogao,"(1,380 notes)",1380,4.007246,5d4b8931933fb13f8a1fe232,0,NaN,https://www.wish.com/c/5ebfdd5bebac37702b0b207b,https://contestimg.wish.com/api/webimage/5ebfd...,5ebfdd5bebac37702b0b207b,summer,2020-08
215274,957,5d4b8931933fb13f8a1fe232,1,1,1.0,4.007,1380.0,11.00,30.0,64.0,64.0,0.0,NaN,NaN,1488,Nouvelles femmes d't mode couleur unie short...,New Women Summer Fashion Solid Color Shorts Ca...,14.00,14,EUR,0,5.00,0,NaN,NaN,NaN,NaN,NaN,0,0,0,0,"Summer,Plus Size,pants,summer shorts,summersho...",darkgreen,XXS,5,Livraison standard,4,0,27,50,NaN,NaN,CN,gaomeigui,gaomeigui,"84 % avis positifs (1,134 notes)",1134,3.955908,5add589edb5f1f32114d07df,0,NaN,https://www.wish.com/c/5eccb455d4eb5d46b00be0ed,https://contestimg.wish.com/api/webimage/5eccb...,5eccb455d4eb5d46b00be0ed,summer,2020-08

In [271]:
# It will only merge data sets with equivalent length 

pd.merge(y,x)

Empty DataFrame
Columns: [index, title, title_orig, price, retail_price, currency_buyer, totalunitssold, uses_ad_boosts, rating, rating_count, rating_five_count, rating_four_count, rating_three_count, rating_two_count, rating_one_count, badges_count, badge_local_product, badge_product_quality, badge_fast_shipping, tags, product_color, product_variation_size_id, product_variation_inventory, shipping_option_name, shipping_option_price, shipping_is_express, countries_shipped_to, inventory_total, has_urgency_banner, urgency_text, origin_country, merchant_title, merchant_name, merchant_info_subtitle, merchant_rating_count, merchant_rating, merchant_id, merchant_has_profile_picture, merchant_profile_picture, product_url, product_picture, product_id, theme, crawl_month, merchantid, listedproducts, meanunitssoldperproduct, merchantratingscount, meanproductprices, meanretailprices, averagediscount, meandiscount, meanproductratingscount, totalurgencycount, urgencytextrate]
Index: []

# # Concat :- It merges Data Sets whether their column names are same or not. It also use to merge Data sets horizonatlly or vertically, base on thier axis.

In [273]:
# It merges Data Sets whether their column names are similar or not.
# How to merge 2 Data Sets vertically

pd.concat([x,y])

,index,merchantid,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate,title,title_orig,price,retail_price,currency_buyer,uses_ad_boosts,rating_count,rating_five_count,rating_four_count,rating_three_count,rating_two_count,rating_one_count,badges_count,badge_local_product,badge_product_quality,badge_fast_shipping,tags,product_color,product_variation_size_id,product_variation_inventory,shipping_option_name,shipping_option_price,shipping_is_express,countries_shipped_to,inventory_total,has_urgency_banner,urgency_text,origin_country,merchant_title,merchant_name,merchant_info_subtitle,merchant_rating_count,merchant_rating,merchant_id,merchant_has_profile_picture,merchant_profile_picture,product_url,product_picture,product_id,theme,crawl_month
0,0,5357bcf2bb72c5504882e889,2.0,120000,60000.0,4.219,320031.0,9.00,20.0,54.0,54.0,8836.0,1.0,50.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,5708773c3c02161b3f8c7900,5.0,107100,21420.0,3.934,139223.0,7.76,34.2,61.0,61.0,4010.0,3.0,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,5417aada4ad3ab27e954b76c,2.0,100007,50004.0,4.053,108048.0,8.00,8.0,-1.0,-1.0,5531.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,570f3a713a698c14278bb51e,1.0,100000,100000.0,3.889,19248.0,5.67,19.0,71.0,71.0,18393.0,1.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,53082ea15aefb07dfe1f2a4f,1.0,100000,100000.0,4.036,366898.0,5.00,33.0,85.0,85.0,13789.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1568,1568,NaN,NaN,10000,NaN,4.080,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nouvelle Mode Femmes Bohme Pissenlit Imprimer...,New Fashion Women Bohemia Dandelion Print Tee ...,6.0,9.0,EUR,1.0,1367.0,722.0,293.0,185.0,77.0,90.0,0.0,0.0,0.0,0.0,"bohemia,Plus Size,dandelionfloralprinted,short...",navyblue,S,50.0,Livraison standard,2.0,0.0,41.0,50.0,NaN,NaN,CN,cxuelin99126,cxuelin99126,"90 % avis positifs (5,316 notes)",5316.0,4.224605,5b507899ab577736508a0782,0.0,NaN,https://www.wish.com/c/5d5fadc99febd9356cbc52ee,https://contestimg.wish.com/api/webimage/5d5fa...,5d5fadc99febd9356cbc52ee,summer,2020-08
1569,1569,NaN,NaN,100,NaN,3.070,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10 couleurs femmes shorts d't lacent ceintur...,10 Color Women Summer Shorts Lace Up Elastic W...,2.0,56.0,EUR,1.0,28.0,11.0,3.0,1.0,3.0,10.0,0.0,0.0,0.0,0.0,"Summer,Panties,Elastic,Lace,Casual pants,casua...",lightblue,S,2.0,Livraison standard,1.0,0.0,26.0,50.0,1.0,Quantit limite !,CN,sell best quality goods,sellbestqualitygoods,"(4,435 notes)",4435.0,3.696054,54d83b6b6b8a771e478558de,0.0,NaN,https://www.wish.com/c/5eccd22b4497b86fd48f16b4,https://contestimg.wish.com/api/webimage/5eccd...,5eccd22b4497b86fd48f16b4,summer,2020-08
1570,1570,NaN,NaN,100,NaN,3.710,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nouveauts Hommes Siwmwear Beach-Shorts Hommes...,New Men Siwmwear Beach-Shorts Men Summer Quick...,5.0,19.0,EUR,0.0,59.0,24.0,15.0,8.0,3.0,9.0,0.0,0.0,0.0,0.0,"runningshort,Beach Shorts,beachpant,menbeachsh...",white,SIZE S,15.0,Livraison standard,2.0,0.0,11.0,50.0,NaN,NaN,CN,shixueying,shixueying,86 % avis positifs (210 notes),210.0,3.961905,5b42da1bf64320209fc8da69,0.0,NaN,https://www.wish.com/c/5e74be96034d613d42b52dfe,https://contestimg.wish.com/api/webimage/5e74b...,5e74be96034d613d42b52dfe,summer,2020-08
1571,1571,NaN,NaN,100,NaN,2.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mode femmes d't sans manches robes col en V ...,Fashion Women Summer Sleeveless Dresses V Neck...,13.0,11.0,EUR,0.0,2.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,"Summer,fashion women,Fashion,Lace,Dresses,Dres...",white,Size S.,36.0,Livraison standard,3.0,0.0,29.0,50.0,NaN,NaN,CN,modai,modai,77 % avis positifs (31 notes),31.0,3.774194,5d56b32c40defd78043d5af9,0.0,NaN,https://www.wish.com/c/5eda07ab0e295c2097c36590,https://contestimg.wish.com/api/webimage/5eda0...,5eda07ab0e295c2097c36590,summer,2020-08
1572,1572,NaN,NaN,100,NaN,4.070,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Pantalon de yoga pour femmes la mode Slim Fi...,Fashion Women Yoga Pants Slim Fit Fitness Runn...,7.0,6.0,EUR,1.0,14.0,8.0,3.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,"Summer,Leggings,slim,Yoga,pants,Slim Fit,Women...",red,S,50.0,Livraison standard,2.0,0.0,41.0,50.0,NaN,NaN,CN,AISHOPPINGMALL,aishoppingmall,"90 % avis positifs (7,023 notes)",7023.0,4.235939,5a409cf87b584e7951b2e25f,0.0,NaN,https://www.wish.com/c/5e857321f53c3d2d8f25e7ed,https://contestimg.wish.com/api/webimage/5e857...,5e857321f53c3d2d8f25e7ed,summer,2020-08

In [277]:
# How to merge 2 Data Sets Horizontally

pd.concat([x,y],axis=1)

,index,merchantid,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate,index,title,title_orig,price,retail_price,currency_buyer,totalunitssold,uses_ad_boosts,rating,rating_count,rating_five_count,rating_four_count,rating_three_count,rating_two_count,rating_one_count,badges_count,badge_local_product,badge_product_quality,badge_fast_shipping,tags,product_color,product_variation_size_id,product_variation_inventory,shipping_option_name,shipping_option_price,shipping_is_express,countries_shipped_to,inventory_total,has_urgency_banner,urgency_text,origin_country,merchant_title,merchant_name,merchant_info_subtitle,merchant_rating_count,merchant_rating,merchant_id,merchant_has_profile_picture,merchant_profile_picture,product_url,product_picture,product_id,theme,crawl_month
0,0.0,5357bcf2bb72c5504882e889,2.0,120000.0,60000.0,4.219,320031.0,9.00,20.0,54.0,54.0,8836.0,1.0,50.0,0,2020 Summer Vintage Flamingo Print Pajamas Se...,2020 Summer Vintage Flamingo Print Pajamas Se...,16.00,14,EUR,100,0,3.76,54,26.0,8.0,10.0,1.0,9.0,0,0,0,0,"Summer,Fashion,womenunderwearsuit,printedpajam...",white,M,50,Livraison standard,4,0,34,50,1.0,Quantit limite !,CN,zgrdejia,zgrdejia,(568 notes),568,4.128521,595097d6a26f6e070cb878d1,0,NaN,https://www.wish.com/c/5e9ae51d43d6a96e303acdb0,https://contestimg.wish.com/api/webimage/5e9ae...,5e9ae51d43d6a96e303acdb0,summer,2020-08
1,1.0,5708773c3c02161b3f8c7900,5.0,107100.0,21420.0,3.934,139223.0,7.76,34.2,61.0,61.0,4010.0,3.0,60.0,1,SSHOUSE Summer Casual Sleeveless Soire Party ...,Women's Casual Summer Sleeveless Sexy Mini Dress,8.00,22,EUR,20000,1,3.45,6135,2269.0,1027.0,1118.0,644.0,1077.0,0,0,0,0,"Mini,womens dresses,Summer,Patchwork,fashion d...",green,XS,50,Livraison standard,2,0,41,50,1.0,Quantit limite !,CN,SaraHouse,sarahouse,"83 % avis positifs (17,752 notes)",17752,3.899673,56458aa03a698c35c9050988,0,NaN,https://www.wish.com/c/58940d436a0d3d5da4e95a38,https://contestimg.wish.com/api/webimage/58940...,58940d436a0d3d5da4e95a38,summer,2020-08
2,2.0,5417aada4ad3ab27e954b76c,2.0,100007.0,50004.0,4.053,108048.0,8.00,8.0,-1.0,-1.0,5531.0,NaN,NaN,2,2020 Nouvelle Arrive Femmes Printemps et t ...,2020 New Arrival Women Spring and Summer Beach...,8.00,43,EUR,100,0,3.57,14,5.0,4.0,2.0,0.0,3.0,0,0,0,0,"Summer,cardigan,women beachwear,chiffon,Sexy w...",leopardprint,XS,1,Livraison standard,3,0,36,50,1.0,Quantit limite !,CN,hxt520,hxt520,86 % avis positifs (295 notes),295,3.989831,5d464a1ffdf7bc44ee933c65,0,NaN,https://www.wish.com/c/5ea10e2c617580260d55310a,https://contestimg.wish.com/api/webimage/5ea10...,5ea10e2c617580260d55310a,summer,2020-08
3,3.0,570f3a713a698c14278bb51e,1.0,100000.0,100000.0,3.889,19248.0,5.67,19.0,71.0,71.0,18393.0,1.0,100.0,3,Hot Summer Cool T-shirt pour les femmes Mode T...,Hot Summer Cool T Shirt for Women Fashion Tops...,8.00,8,EUR,5000,1,4.03,579,295.0,119.0,87.0,42.0,36.0,0,0,0,0,"Summer,Shorts,Cotton,Cotton T Shirt,Sleeve,pri...",black,M,50,Livraison standard,2,0,41,50,NaN,NaN,CN,allenfan,allenfan,"(23,832 notes)",23832,4.020435,58cfdefdacb37b556efdff7c,0,NaN,https://www.wish.com/c/5cedf17ad1d44c52c59e4aca,https://contestimg.wish.com/api/webimage/5cedf...,5cedf17ad1d44c52c59e4aca,summer,2020-08
4,4.0,53082ea15aefb07dfe1f2a4f,1.0,100000.0,100000.0,4.036,366898.0,5.00,33.0,85.0,85.0,13789.0,NaN,NaN,4,Femmes Shorts d't lacets taille lastique ...,Women Summer Shorts Lace Up Elastic Waistband ...,2.72,3,EUR,100,1,3.10,20,6.0,4.0,2.0,2.0,6.0,0,0,0,0,"Summer,Plus Size,Lace,Casual pants,Bottom,pant...",yellow,S,1,Livraison standard,1,0,35,50,1.0,Quantit limite !,CN,youngpeopleshop,happyhorses,"85 % avis positifs (14,482 notes)",14482,4.001588,5ab3b592c3911a095ad5dadb,0,NaN,https://www.wish.com/c/5ebf5819ebac372b070b0e70,https://contestimg.wish.com/api/webimage/5ebf5...,5ebf5819ebac372b070b0e70,summer,2020-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1568,Nouvelle Mode Femmes Bohme Pissenlit Imprimer...,New Fashion Women Bohemia Dandelion Print Tee ...,6.00,9,EUR,10000,1,4.08,1367,722.0,293.0,185.0,77.0,90.0,0,0,0,0,"bohemia,Plus Size,dandelionfloralprinted,short...",navyblue,S,50,Livraison standard,2,0,41,50,NaN,NaN,CN,cxuelin99126,cxuelin99126,"90 % avis positifs (5,316 notes)",5316,4.224605,5b507899ab577736508a0782,0,NaN,https://www.wish.com/c/5d5fadc99febd9356cbc52ee,https://contestimg.wish.com/api/webimage/5d5fa...,5d5fadc99febd9356cbc52ee,summer,2020-08
1569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1569,10 couleurs femmes shorts d't lacent ceintur...,10 Color Women Summer Shorts Lace Up Elastic W...,2.00,56,EUR,100,1,3.07,28,11.0,3.0,1.0,3.0,10.0,0,0,0,0,"Summer,Panties,Elastic,Lace,Casual pants,casua...",lightblue,S,2,Livraison standard,1,0,26,50,1.0,Quantit limite !,CN,sell best quality goods,sellbestqualitygoods,"(4,435 notes)",4435,3.696054,54d83b6b6b8a771e478558de,0,NaN,https://www.wish.com/c/5eccd22b4497b86fd48f16b4,https://contestimg.wish.com/api/webimage/5eccd...,5eccd22b4497b86fd48f16b4,summer,2020-08
1570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1570,Nouveauts Hommes Siwmwear Beach-Shorts Hommes...,New Men Siwmwear Beach-Shorts Men Summer Quick...,5.00,19,EUR,100,0,3.71,59,24.0,15.0,8.0,3.0,9.0,0,0,0,0,"runningshort,Beach Shorts,beachpant,menbeachsh...",white,SIZE S,15,Livraison standard,2,0,11,50,NaN,NaN,CN,shixueying,shixueying,86 % avis positifs (210 notes),210,3.961905,5b42da1bf64320209fc8da69,0,NaN,https://www.wish.com/c/5e74be96034d613d42b52dfe,https://contestimg.wish.com/api/webimage/5e74b...,5e74be96034d613d42b52dfe,summer,2020-08
1571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1571,Mode femmes d't sans manches robes col en V ...,Fashion Women Summer Sleeveless Dresses V Neck...,13.00,11,EUR,100,0,2.50,2,0.0,1.0,0.0,0.0,1.0,0,0,0,0,"Summer,fashion women,Fashion,Lace,Dresses,Dres...",white,Size S.,36,Livraison standard,3,0,29,50,NaN,NaN,CN,modai,modai,77 % avis positifs (31 notes),31,3.774194,5d56b32c40defd78043d5af9,0,NaN,https://www.wish.com/c/5eda07ab0e295c2097c36590,https://contestimg.wish.com/api/webimage/5eda0...,5eda07ab0e295c2097c36590,summer,2020-08
1572,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1572,Pantalon de yoga pour femmes la mode Slim Fi...,Fashion Women Yoga Pants Slim Fit Fitness Runn...,7.00,6,EUR,100,1,4.07,14,8.0,3.0,1.0,0.0,2.0,0,0,0,0,"Summer,Leggings,slim,Yoga,pants,Slim Fit,Women...",red,S,50,Livraison standard,2,0,41,50,NaN,NaN,CN,AISHOPPINGMALL,aishoppingmall,"90 % avis positifs (7,023 notes)",7023,4.235939,5a409cf87b584e7951b2e25f,0,NaN,https://www.wish.com/c/5e857321f53c3d2d8f25e7ed,https://contestimg.wish.com/api/webimage/5e857...,5e857321f53c3d2d8f25e7ed,summer,2020-08

In [278]:
# It merge Data Sets and automatically removes columns where any value is 'NaN'

pd.concat([x,y],join="inner")

      index  totalunitssold  rating
0         0          120000   4.219
1         1          107100   3.934
2         2          100007   4.053
3         3          100000   3.889
4         4          100000   4.036
...     ...             ...     ...
1568   1568           10000   4.080
1569   1569             100   3.070
1570   1570             100   3.710
1571   1571             100   2.500
1572   1572             100   4.070

[2531 rows x 3 columns]

In [279]:
# It merge Data Sets and automatically removes rows where any value is 'NaN'

pd.concat([x,y],join="outer")

,index,merchantid,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate,title,title_orig,price,retail_price,currency_buyer,uses_ad_boosts,rating_count,rating_five_count,rating_four_count,rating_three_count,rating_two_count,rating_one_count,badges_count,badge_local_product,badge_product_quality,badge_fast_shipping,tags,product_color,product_variation_size_id,product_variation_inventory,shipping_option_name,shipping_option_price,shipping_is_express,countries_shipped_to,inventory_total,has_urgency_banner,urgency_text,origin_country,merchant_title,merchant_name,merchant_info_subtitle,merchant_rating_count,merchant_rating,merchant_id,merchant_has_profile_picture,merchant_profile_picture,product_url,product_picture,product_id,theme,crawl_month
0,0,5357bcf2bb72c5504882e889,2.0,120000,60000.0,4.219,320031.0,9.00,20.0,54.0,54.0,8836.0,1.0,50.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,5708773c3c02161b3f8c7900,5.0,107100,21420.0,3.934,139223.0,7.76,34.2,61.0,61.0,4010.0,3.0,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,5417aada4ad3ab27e954b76c,2.0,100007,50004.0,4.053,108048.0,8.00,8.0,-1.0,-1.0,5531.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,570f3a713a698c14278bb51e,1.0,100000,100000.0,3.889,19248.0,5.67,19.0,71.0,71.0,18393.0,1.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,53082ea15aefb07dfe1f2a4f,1.0,100000,100000.0,4.036,366898.0,5.00,33.0,85.0,85.0,13789.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1568,1568,NaN,NaN,10000,NaN,4.080,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nouvelle Mode Femmes Bohme Pissenlit Imprimer...,New Fashion Women Bohemia Dandelion Print Tee ...,6.0,9.0,EUR,1.0,1367.0,722.0,293.0,185.0,77.0,90.0,0.0,0.0,0.0,0.0,"bohemia,Plus Size,dandelionfloralprinted,short...",navyblue,S,50.0,Livraison standard,2.0,0.0,41.0,50.0,NaN,NaN,CN,cxuelin99126,cxuelin99126,"90 % avis positifs (5,316 notes)",5316.0,4.224605,5b507899ab577736508a0782,0.0,NaN,https://www.wish.com/c/5d5fadc99febd9356cbc52ee,https://contestimg.wish.com/api/webimage/5d5fa...,5d5fadc99febd9356cbc52ee,summer,2020-08
1569,1569,NaN,NaN,100,NaN,3.070,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10 couleurs femmes shorts d't lacent ceintur...,10 Color Women Summer Shorts Lace Up Elastic W...,2.0,56.0,EUR,1.0,28.0,11.0,3.0,1.0,3.0,10.0,0.0,0.0,0.0,0.0,"Summer,Panties,Elastic,Lace,Casual pants,casua...",lightblue,S,2.0,Livraison standard,1.0,0.0,26.0,50.0,1.0,Quantit limite !,CN,sell best quality goods,sellbestqualitygoods,"(4,435 notes)",4435.0,3.696054,54d83b6b6b8a771e478558de,0.0,NaN,https://www.wish.com/c/5eccd22b4497b86fd48f16b4,https://contestimg.wish.com/api/webimage/5eccd...,5eccd22b4497b86fd48f16b4,summer,2020-08
1570,1570,NaN,NaN,100,NaN,3.710,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nouveauts Hommes Siwmwear Beach-Shorts Hommes...,New Men Siwmwear Beach-Shorts Men Summer Quick...,5.0,19.0,EUR,0.0,59.0,24.0,15.0,8.0,3.0,9.0,0.0,0.0,0.0,0.0,"runningshort,Beach Shorts,beachpant,menbeachsh...",white,SIZE S,15.0,Livraison standard,2.0,0.0,11.0,50.0,NaN,NaN,CN,shixueying,shixueying,86 % avis positifs (210 notes),210.0,3.961905,5b42da1bf64320209fc8da69,0.0,NaN,https://www.wish.com/c/5e74be96034d613d42b52dfe,https://contestimg.wish.com/api/webimage/5e74b...,5e74be96034d613d42b52dfe,summer,2020-08
1571,1571,NaN,NaN,100,NaN,2.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mode femmes d't sans manches robes col en V ...,Fashion Women Summer Sleeveless Dresses V Neck...,13.0,11.0,EUR,0.0,2.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,"Summer,fashion women,Fashion,Lace,Dresses,Dres...",white,Size S.,36.0,Livraison standard,3.0,0.0,29.0,50.0,NaN,NaN,CN,modai,modai,77 % avis positifs (31 notes),31.0,3.774194,5d56b32c40defd78043d5af9,0.0,NaN,https://www.wish.com/c/5eda07ab0e295c2097c36590,https://contestimg.wish.com/api/webimage/5eda0...,5eda07ab0e295c2097c36590,summer,2020-08
1572,1572,NaN,NaN,100,NaN,4.070,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Pantalon de yoga pour femmes la mode Slim Fi...,Fashion Women Yoga Pants Slim Fit Fitness Runn...,7.0,6.0,EUR,1.0,14.0,8.0,3.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,"Summer,Leggings,slim,Yoga,pants,Slim Fit,Women...",red,S,50.0,Livraison standard,2.0,0.0,41.0,50.0,NaN,NaN,CN,AISHOPPINGMALL,aishoppingmall,"90 % avis positifs (7,023 notes)",7023.0,4.235939,5a409cf87b584e7951b2e25f,0.0,NaN,https://www.wish.com/c/5e857321f53c3d2d8f25e7ed,https://contestimg.wish.com/api/webimage/5e857...,5e857321f53c3d2d8f25e7ed,summer,2020-08

In [284]:
# How to the create the key / name of data sets
# We can also use this function on the basis of their axis

pd.concat([x,y],keys=["sameer","ansari"])

             index                merchantid  listedproducts  totalunitssold  \
sameer 0         0  5357bcf2bb72c5504882e889             2.0          120000
       1         1  5708773c3c02161b3f8c7900             5.0          107100
       2         2  5417aada4ad3ab27e954b76c             2.0          100007
       3         3  570f3a713a698c14278bb51e             1.0          100000
       4         4  53082ea15aefb07dfe1f2a4f             1.0          100000
...            ...                       ...             ...             ...
ansari 1568   1568                       NaN             NaN           10000
       1569   1569                       NaN             NaN             100
       1570   1570                       NaN             NaN             100
       1571   1571                       NaN             NaN             100
       1572   1572                       NaN             NaN             100

             meanunitssoldperproduct  rating  merchantratingscount  \
sameer 0                     60000.0   4.219              320031.0
       1                     21420.0   3.934              139223.0
       2                     50004.0   4.053              108048.0
       3                    100000.0   3.889               19248.0
       4                    100000.0   4.036              366898.0
...                              ...     ...                   ...
ansari 1568                      NaN   4.080                   NaN
       1569                      NaN   3.070                   NaN
       1570                      NaN   3.710                   NaN
       1571                      NaN   2.500                   NaN
       1572                      NaN   4.070                   NaN

             meanproductprices  meanretailprices  averagediscount  \
sameer 0                  9.00              20.0             54.0
       1                  7.76              34.2             61.0
       2                  8.00               8.0             -1.0
       3                  5.67              19.0             71.0
       4                  5.00              33.0             85.0
...                        ...               ...              ...
ansari 1568                NaN               NaN              NaN
       1569                NaN               NaN              NaN
       1570                NaN               NaN              NaN
       1571                NaN               NaN              NaN
       1572                NaN               NaN              NaN

             meandiscount  meanproductratingscount  totalurgencycount  \
sameer 0             54.0                   8836.0                1.0
       1             61.0                   4010.0                3.0
       2             -1.0                   5531.0                NaN
       3             71.0                  18393.0                1.0
       4             85.0                  13789.0                NaN
...                   ...                      ...                ...
ansari 1568           NaN                      NaN                NaN
       1569           NaN                      NaN                NaN
       1570           NaN                      NaN                NaN
       1571           NaN                      NaN                NaN
       1572           NaN                      NaN                NaN

             urgencytextrate  \
sameer 0                50.0
       1                60.0
       2                 NaN
       3               100.0
       4                 NaN
...                      ...
ansari 1568              NaN
       1569              NaN
       1570              NaN
       1571              NaN
       1572              NaN

                                                         title  \
sameer 0                                                   NaN
       1                                                   NaN
       2                                                   NaN
       3                                                   NaN
       4                                                   NaN
...                                                        ...
ansari 1568  Nouvelle Mode Femmes Bohme Pissenlit Imprimer...
       1569  10 couleurs femmes shorts d't lacent ceintur...
       1570  Nouveauts Hommes Siwmwear Beach-Shorts Hommes...
       1571  Mode femmes d't sans manches robes col en V ...
       1572  Pantalon de yoga pour femmes  la mode Slim Fi...

                                                    title_orig  price  \
sameer 0                                                   NaN    NaN
       1                                                   NaN    NaN
       2                                                   NaN    NaN
       3                                                   NaN    NaN
       4                                                   NaN    NaN
...                                                        ...    ...
ansari 1568  New Fashion Women Bohemia Dandelion Print Tee ...    6.0
       1569  10 Color Women Summer Shorts Lace Up Elastic W...    2.0
       1570  New Men Siwmwear Beach-Shorts Men Summer Quick...    5.0
       1571  Fashion Women Summer Sleeveless Dresses V Neck...   13.0
       1572  Fashion Women Yoga Pants Slim Fit Fitness Runn...    7.0

             retail_price currency_buyer  uses_ad_boosts  rating_count  \
sameer 0              NaN            NaN             NaN           NaN
       1              NaN            NaN             NaN           NaN
       2              NaN            NaN             NaN           NaN
       3              NaN            NaN             NaN           NaN
       4              NaN            NaN             NaN           NaN
...                   ...            ...             ...           ...
ansari 1568           9.0            EUR             1.0        1367.0
       1569          56.0            EUR             1.0          28.0
       1570          19.0            EUR             0.0          59.0
       1571          11.0            EUR             0.0           2.0
       1572           6.0            EUR             1.0          14.0

             rating_five_count  rating_four_count  rating_three_count  \
sameer 0                   NaN                NaN                 NaN
       1                   NaN                NaN                 NaN
       2                   NaN                NaN                 NaN
       3                   NaN                NaN                 NaN
       4                   NaN                NaN                 NaN
...                        ...                ...                 ...
ansari 1568              722.0              293.0               185.0
       1569               11.0                3.0                 1.0
       1570               24.0               15.0                 8.0
       1571                0.0                1.0                 0.0
       1572                8.0                3.0                 1.0

             rating_two_count  rating_one_count  badges_count  \
sameer 0                  NaN               NaN           NaN
       1                  NaN               NaN           NaN
       2                  NaN               NaN           NaN
       3                  NaN               NaN           NaN
       4                  NaN               NaN           NaN
...                       ...               ...           ...
ansari 1568              77.0              90.0           0.0
       1569               3.0              10.0           0.0
       1570               3.0               9.0           0.0
       1571               0.0               1.0           0.0
       1572               0.0               2.0           0.0

             badge_local_product  badge_product_quality  badge_fast_shipping  \
sameer 0                     NaN                    NaN                  NaN
       1                     NaN                    NaN                  NaN
       2                     NaN                    NaN                  NaN
       3                     NaN                    NaN                  NaN
       4                     NaN                    NaN                  NaN
...                          ...                    ...                  ...
ansari 1568                  0.0                    0.0                  0.0
       1569                  0.0                    0.0                  0.0
       1570                  0.0                    0.0                  0.0
       1571                  0.0                    0.0                  0.0
       1572                  0.0                    0.0                  0.0

                                                          tags product_color  \
sameer 0                                                   NaN           NaN
       1                                                   NaN           NaN
       2                                                   NaN           NaN
       3                                                   NaN           NaN
       4                                                   NaN           NaN
...                                                        ...           ...
ansari 1568  bohemia,Plus Size,dandelionfloralprinted,short...      navyblue
       1569  Summer,Panties,Elastic,Lace,Casual pants,casua...     lightblue
       1570  runningshort,Beach Shorts,beachpant,menbeachsh...         white
       1571  Summer,fashion women,Fashion,Lace,Dresses,Dres...         white
       1572  Summer,Leggings,slim,Yoga,pants,Slim Fit,Women...           red

            product_variation_size_id  product_variation_inventory  \
sameer 0                          NaN                          NaN
       1                          NaN                          NaN
       2                          NaN                          NaN
       3                          NaN                          NaN
       4                          NaN                          NaN
...                               ...                          ...
ansari 1568                         S                         50.0
       1569                         S                          2.0
       1570                    SIZE S                         15.0
       1571                   Size S.                         36.0
       1572                         S                         50.0

            shipping_option_name  shipping_option_price  shipping_is_express  \
sameer 0                     NaN                    NaN                  NaN
       1                     NaN                    NaN                  NaN
       2                     NaN                    NaN                  NaN
       3                     NaN                    NaN                  NaN
       4                     NaN                    NaN                  NaN
...                          ...                    ...                  ...
ansari 1568   Livraison standard                    2.0                  0.0
       1569   Livraison standard                    1.0                  0.0
       1570   Livraison standard                    2.0                  0.0
       1571   Livraison standard                    3.0                  0.0
       1572   Livraison standard                    2.0                  0.0

             countries_shipped_to  inventory_total  has_urgency_banner  \
sameer 0                      NaN              NaN                 NaN
       1                      NaN              NaN                 NaN
       2                      NaN              NaN                 NaN
       3                      NaN              NaN                 NaN
       4                      NaN              NaN                 NaN
...                           ...              ...                 ...
ansari 1568                  41.0             50.0                 NaN
       1569                  26.0             50.0                 1.0
       1570                  11.0             50.0                 NaN
       1571                  29.0             50.0                 NaN
       1572                  41.0             50.0                 NaN

                   urgency_text origin_country           merchant_title  \
sameer 0                    NaN            NaN                      NaN
       1                    NaN            NaN                      NaN
       2                    NaN            NaN                      NaN
       3                    NaN            NaN                      NaN
       4                    NaN            NaN                      NaN
...                         ...            ...                      ...
ansari 1568                 NaN             CN             cxuelin99126
       1569  Quantit limite !             CN  sell best quality goods
       1570                 NaN             CN               shixueying
       1571                 NaN             CN                    modai
       1572                 NaN             CN           AISHOPPINGMALL

                    merchant_name            merchant_info_subtitle  \
sameer 0                      NaN                               NaN
       1                      NaN                               NaN
       2                      NaN                               NaN
       3                      NaN                               NaN
       4                      NaN                               NaN
...                           ...                               ...
ansari 1568          cxuelin99126  90 % avis positifs (5,316 notes)
       1569  sellbestqualitygoods                     (4,435 notes)
       1570            shixueying    86 % avis positifs (210 notes)
       1571                 modai     77 % avis positifs (31 notes)
       1572        aishoppingmall  90 % avis positifs (7,023 notes)

             merchant_rating_count  merchant_rating               merchant_id  \
sameer 0                       NaN              NaN                       NaN
       1                       NaN              NaN                       NaN
       2                       NaN              NaN                       NaN
       3                       NaN              NaN                       NaN
       4                       NaN              NaN                       NaN
...                            ...              ...                       ...
ansari 1568                 5316.0         4.224605  5b507899ab577736508a0782
       1569                 4435.0         3.696054  54d83b6b6b8a771e478558de
       1570                  210.0         3.961905  5b42da1bf64320209fc8da69
       1571                   31.0         3.774194  5d56b32c40defd78043d5af9
       1572                 7023.0         4.235939  5a409cf87b584e7951b2e25f

             merchant_has_profile_picture merchant_profile_picture  \
sameer 0                              NaN                      NaN
       1                              NaN                      NaN
       2                              NaN                      NaN
       3                              NaN                      NaN
       4                              NaN                      NaN
...                                   ...                      ...
ansari 1568                           0.0                      NaN
       1569                           0.0                      NaN
       1570                           0.0                      NaN
       1571                           0.0                      NaN
       1572                           0.0                      NaN

                                                 product_url  \
sameer 0                                                 NaN
       1                                                 NaN
       2                                                 NaN
       3                                                 NaN
       4                                                 NaN
...                                                      ...
ansari 1568  https://www.wish.com/c/5d5fadc99febd9356cbc52ee
       1569  https://www.wish.com/c/5eccd22b4497b86fd48f16b4
       1570  https://www.wish.com/c/5e74be96034d613d42b52dfe
       1571  https://www.wish.com/c/5eda07ab0e295c2097c36590
       1572  https://www.wish.com/c/5e857321f53c3d2d8f25e7ed

                                               product_picture  \
sameer 0                                                   NaN
       1                                                   NaN
       2                                                   NaN
       3                                                   NaN
       4                                                   NaN
...                                                        ...
ansari 1568  https://contestimg.wish.com/api/webimage/5d5fa...
       1569  https://contestimg.wish.com/api/webimage/5eccd...
       1570  https://contestimg.wish.com/api/webimage/5e74b...
       1571  https://contestimg.wish.com/api/webimage/5eda0...
       1572  https://contestimg.wish.com/api/webimage/5e857...

                           product_id   theme crawl_month
sameer 0                          NaN     NaN         NaN
       1                          NaN     NaN         NaN
       2                          NaN     NaN         NaN
       3                          NaN     NaN         NaN
       4                          NaN     NaN         NaN
...                               ...     ...         ...
ansari 1568  5d5fadc99febd9356cbc52ee  summer     2020-08
       1569  5eccd22b4497b86fd48f16b4  summer     2020-08
       1570  5e74be96034d613d42b52dfe  summer     2020-08
       1571  5eda07ab0e295c2097c36590  summer     2020-08
       1572  5e857321f53c3d2d8f25e7ed  summer     2020-08

[2531 rows x 55 columns]

# Group By :- By using .groupby() the unorganised data will convert into organised(sorted) data

In [294]:
# groupby work on single column


x.groupby("totalunitssold").min()

,index,merchantid,listedproducts,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate
totalunitssold,,,,,,,,,,,,,
1,955,5add589edb5f1f32114d07df,1,1.0,3.598,378.0,2.72,9.00,0.0,0.00,0.0,NaN,NaN
2,953,567bad8582c35f28103e5813,1,2.0,3.999,693.0,11.00,10.00,-10.0,-10.00,0.0,NaN,NaN
3,952,564d8f2f3a698c01d97fbb81,1,3.0,3.991,11378.0,4.81,30.00,84.0,84.00,0.0,NaN,NaN
7,951,581c54c4dd99164b808ca531,1,7.0,4.249,6348.0,8.00,55.00,86.0,86.00,1.0,NaN,NaN
8,950,54365c349719cd57af2b449b,1,8.0,3.949,53225.0,7.00,31.00,78.0,78.00,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
96000,6,5926c5ace8ff5525241b368d,7,13714.0,4.139,55499.0,6.69,6.29,-4.0,-3.86,2250.0,1.0,14.0
100000,3,53082ea15aefb07dfe1f2a4f,1,100000.0,3.889,19248.0,5.00,19.00,71.0,71.00,13789.0,1.0,100.0
100007,2,5417aada4ad3ab27e954b76c,2,50004.0,4.053,108048.0,8.00,8.00,-1.0,-1.00,5531.0,NaN,NaN
107100,1,5708773c3c02161b3f8c7900,5,21420.0,3.934,139223.0,7.76,34.20,61.0,61.00,4010.0,3.0,60.0
120000,0,5357bcf2bb72c5504882e889,2,60000.0,4.219,320031.0,9.00,20.00,54.0,54.00,8836.0,1.0,50.0

In [307]:
x.groupby("totalunitssold").max()

,index,merchantid,listedproducts,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate
totalunitssold,,,,,,,,,,,,,
1,957,5d4b8931933fb13f8a1fe232,1,1.0,4.007,1380.0,14.00,30.00,70.0,70.00,0.0,NaN,NaN
2,954,5b24edf0d1c360301099e9c6,1,2.0,4.303,21307.0,16.00,16.00,0.0,0.00,1.0,NaN,NaN
3,952,564d8f2f3a698c01d97fbb81,1,3.0,3.991,11378.0,4.81,30.00,84.0,84.00,0.0,NaN,NaN
7,951,581c54c4dd99164b808ca531,1,7.0,4.249,6348.0,8.00,55.00,86.0,86.00,1.0,NaN,NaN
8,950,54365c349719cd57af2b449b,1,8.0,3.949,53225.0,7.00,31.00,78.0,78.00,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
96000,6,5926c5ace8ff5525241b368d,7,13714.0,4.139,55499.0,6.69,6.29,-4.0,-3.86,2250.0,1.0,14.0
100000,5,570f3a713a698c14278bb51e,1,100000.0,4.067,366898.0,5.77,48.00,88.0,88.00,20744.0,1.0,100.0
100007,2,5417aada4ad3ab27e954b76c,2,50004.0,4.053,108048.0,8.00,8.00,-1.0,-1.00,5531.0,NaN,NaN
107100,1,5708773c3c02161b3f8c7900,5,21420.0,3.934,139223.0,7.76,34.20,61.0,61.00,4010.0,3.0,60.0
120000,0,5357bcf2bb72c5504882e889,2,60000.0,4.219,320031.0,9.00,20.00,54.0,54.00,8836.0,1.0,50.0

In [293]:
help(x.groupby)

Help on method groupby in module pandas.core.frame:

groupby(by=None, axis: 'Axis' = 0, level: 'Level | None' = None, as_index: 'bool' = True, sort: 'bool' = True, group_keys: 'bool' = True, squeeze: 'bool | lib.NoDefault' = <no_default>, observed: 'bool' = False, dropna: 'bool' = True) -> 'DataFrameGroupBy' method of pandas.core.frame.DataFrame instance
    Group DataFrame using a mapper or by a Series of columns.

    A groupby operation involves some combination of splitting the
    object, applying a function, and combining the results. This can be
    used to group large amounts of data and compute operations on these
    groups.

    Parameters
    ----------
    by : mapping, function, label, or list of labels
        Used to determine the groups for the groupby.
        If ``by`` is a function, it's called on each value of the object's
        index. If a dict or Series is passed, the Series or dict VALUES
        will be used to determine the groups (the Series' values are first
        aligned; see ``.align()`` method). If a list or ndarray of length
        equal to the selected axis is passed (see the `groupby user guide
        <https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html#splitting-an-object-into-groups>`_),
        the values are used as-is to determine the groups. A label or list
        of labels may be passed to group by the columns in ``self``.
        Notice that a tuple is interpreted as a (single) key.
    axis : {0 or 'index', 1 or 'columns'}, default 0
        Split along rows (0) or columns (1).
    level : int, level name, or sequence of such, default None
        If the axis is a MultiIndex (hierarchical), group by a particular
        level or levels.
    as_index : bool, default True
        For aggregated output, return object with group labels as the
        index. Only relevant for DataFrame input. as_index=False is
        effectively "SQL-style" grouped output.
    sort : bool, default True
        Sort group keys. Get better performance by turning this off.
        Note this does not influence the order of observations within each
        group. Groupby preserves the order of rows within each group.
    group_keys : bool, default True
        When calling apply, add group keys to index to identify pieces.
    squeeze : bool, default False
        Reduce the dimensionality of the return type if possible,
        otherwise return a consistent type.

        .. deprecated:: 1.1.0

    observed : bool, default False
        This only applies if any of the groupers are Categoricals.
        If True: only show observed values for categorical groupers.
        If False: show all values for categorical groupers.
    dropna : bool, default True
        If True, and if group keys contain NA values, NA values together
        with row/column will be dropped.
        If False, NA values will also be treated as the key in groups.

        .. versionadded:: 1.1.0

    Returns
    -------
    DataFrameGroupBy
        Returns a groupby object that contains information about the groups.

    See Also
    --------
    resample : Convenience method for frequency conversion and resampling
        of time series.

    Notes
    -----
    See the `user guide
    <https://pandas.pydata.org/pandas-docs/stable/groupby.html>`__ for more
    detailed usage and examples, including splitting an object into groups,
    iterating through groups, selecting a group, aggregation, and more.

    Examples
    --------
    >>> df = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
    ...                               'Parrot', 'Parrot'],
    ...                    'Max Speed': [380., 370., 24., 26.]})
    >>> df
       Animal  Max Speed
    0  Falcon      380.0
    1  Falcon      370.0
    2  Parrot       24.0
    3  Parrot       26.0
    >>> df.groupby(['Animal']).mean()
            Max Speed
    Animal
    Falcon      375.0
    Parrot       25.0

    **Hierarchical Indexes**

    We can groupby different levels of a hierarchical index
    using the `level` parameter:

    >>> arrays = [['Falcon', 'Falcon', 'Parrot', 'Parrot'],
    ...           ['Captive', 'Wild', 'Captive', 'Wild']]
    >>> index = pd.MultiIndex.from_arrays(arrays, names=('Animal', 'Type'))
    >>> df = pd.DataFrame({'Max Speed': [390., 350., 30., 20.]},
    ...                   index=index)
    >>> df
                    Max Speed
    Animal Type
    Falcon Captive      390.0
           Wild         350.0
    Parrot Captive       30.0
           Wild          20.0
    >>> df.groupby(level=0).mean()
            Max Speed
    Animal
    Falcon      370.0
    Parrot       25.0
    >>> df.groupby(level="Type").mean()
             Max Speed
    Type
    Captive      210.0
    Wild         185.0

    We can also choose to include NA in group keys or not by setting
    `dropna` parameter, the default setting is `True`.

    >>> l = [[1, 2, 3], [1, None, 4], [2, 1, 3], [1, 2, 2]]
    >>> df = pd.DataFrame(l, columns=["a", "b", "c"])

    >>> df.groupby(by=["b"]).sum()
        a   c
    b
    1.0 2   3
    2.0 2   5

    >>> df.groupby(by=["b"], dropna=False).sum()
        a   c
    b
    1.0 2   3
    2.0 2   5
    NaN 1   4

    >>> l = [["a", 12, 12], [None, 12.3, 33.], ["b", 12.3, 123], ["a", 1, 1]]
    >>> df = pd.DataFrame(l, columns=["a", "b", "c"])

    >>> df.groupby(by="a").sum()
        b     c
    a
    a   13.0   13.0
    b   12.3  123.0

    >>> df.groupby(by="a", dropna=False).sum()
        b     c
    a
    a   13.0   13.0
    b   12.3  123.0
    NaN 12.3   33.0

# Join

In [3]:
# Lets import 2 Data Sets for practice
# It will not join Data Sets where any column name is similar

x = pd.read_csv("C:\\Users\\HP\\Downloads\\aa.csv")
y = pd.read_csv("C:\\Users\\HP\\Downloads\\unique-categories.sorted-by-count.csv")

x.join(y)

,index,merchantid,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate,count,tag
0,0,5357bcf2bb72c5504882e889,2,120000,60000.0,4.219,320031.0,9.00,20.0,54.0,54.0,8836.0,1.0,50.0,1321,Summer
1,1,5708773c3c02161b3f8c7900,5,107100,21420.0,3.934,139223.0,7.76,34.2,61.0,61.0,4010.0,3.0,60.0,1315,Women's Fashion
2,2,5417aada4ad3ab27e954b76c,2,100007,50004.0,4.053,108048.0,8.00,8.0,-1.0,-1.0,5531.0,NaN,NaN,1082,Fashion
3,3,570f3a713a698c14278bb51e,1,100000,100000.0,3.889,19248.0,5.67,19.0,71.0,71.0,18393.0,1.0,100.0,961,Women
4,4,53082ea15aefb07dfe1f2a4f,1,100000,100000.0,4.036,366898.0,5.00,33.0,85.0,85.0,13789.0,NaN,NaN,905,Casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953,953,567bad8582c35f28103e5813,1,2,2.0,3.999,21307.0,11.00,10.0,-10.0,-10.0,1.0,NaN,NaN,2,moonphase
954,954,5b24edf0d1c360301099e9c6,1,2,2.0,4.303,693.0,16.00,16.0,0.0,0.0,0.0,NaN,NaN,2,minidresselvendre
955,955,5d417e7070327a2743021677,1,1,1.0,3.598,378.0,2.72,9.0,70.0,70.0,0.0,NaN,NaN,2,midriff
956,956,5add589edb5f1f32114d07df,1,1,1.0,3.956,1134.0,14.00,14.0,0.0,0.0,0.0,NaN,NaN,2,menssummersuit
957,957,5d4b8931933fb13f8a1fe232,1,1,1.0,4.007,1380.0,11.00,30.0,64.0,64.0,0.0,NaN,NaN,2,mensfitnessshirt

In [4]:
# Inner works same as join by default

x.join(y,how="inner")

,index,merchantid,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate,count,tag
0,0,5357bcf2bb72c5504882e889,2,120000,60000.0,4.219,320031.0,9.00,20.0,54.0,54.0,8836.0,1.0,50.0,1321,Summer
1,1,5708773c3c02161b3f8c7900,5,107100,21420.0,3.934,139223.0,7.76,34.2,61.0,61.0,4010.0,3.0,60.0,1315,Women's Fashion
2,2,5417aada4ad3ab27e954b76c,2,100007,50004.0,4.053,108048.0,8.00,8.0,-1.0,-1.0,5531.0,NaN,NaN,1082,Fashion
3,3,570f3a713a698c14278bb51e,1,100000,100000.0,3.889,19248.0,5.67,19.0,71.0,71.0,18393.0,1.0,100.0,961,Women
4,4,53082ea15aefb07dfe1f2a4f,1,100000,100000.0,4.036,366898.0,5.00,33.0,85.0,85.0,13789.0,NaN,NaN,905,Casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953,953,567bad8582c35f28103e5813,1,2,2.0,3.999,21307.0,11.00,10.0,-10.0,-10.0,1.0,NaN,NaN,2,moonphase
954,954,5b24edf0d1c360301099e9c6,1,2,2.0,4.303,693.0,16.00,16.0,0.0,0.0,0.0,NaN,NaN,2,minidresselvendre
955,955,5d417e7070327a2743021677,1,1,1.0,3.598,378.0,2.72,9.0,70.0,70.0,0.0,NaN,NaN,2,midriff
956,956,5add589edb5f1f32114d07df,1,1,1.0,3.956,1134.0,14.00,14.0,0.0,0.0,0.0,NaN,NaN,2,menssummersuit
957,957,5d4b8931933fb13f8a1fe232,1,1,1.0,4.007,1380.0,11.00,30.0,64.0,64.0,0.0,NaN,NaN,2,mensfitnessshirt

In [5]:
x.join(y,how="outer")

,index,merchantid,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate,count,tag
0,0.0,5357bcf2bb72c5504882e889,2.0,120000.0,60000.0,4.219,320031.0,9.00,20.0,54.0,54.0,8836.0,1.0,50.0,1321,Summer
1,1.0,5708773c3c02161b3f8c7900,5.0,107100.0,21420.0,3.934,139223.0,7.76,34.2,61.0,61.0,4010.0,3.0,60.0,1315,Women's Fashion
2,2.0,5417aada4ad3ab27e954b76c,2.0,100007.0,50004.0,4.053,108048.0,8.00,8.0,-1.0,-1.0,5531.0,NaN,NaN,1082,Fashion
3,3.0,570f3a713a698c14278bb51e,1.0,100000.0,100000.0,3.889,19248.0,5.67,19.0,71.0,71.0,18393.0,1.0,100.0,961,Women
4,4.0,53082ea15aefb07dfe1f2a4f,1.0,100000.0,100000.0,4.036,366898.0,5.00,33.0,85.0,85.0,13789.0,NaN,NaN,905,Casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2615,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2014menshort
2616,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,"2,piece dress sets"
2617,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,"2,Piece Swimsuit"
2618,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,#fashion #shorts
2619,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,#Summer Clothes

In [6]:
# left join works same as join by default

x.join (y,how="left")

,index,merchantid,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate,count,tag
0,0,5357bcf2bb72c5504882e889,2,120000,60000.0,4.219,320031.0,9.00,20.0,54.0,54.0,8836.0,1.0,50.0,1321,Summer
1,1,5708773c3c02161b3f8c7900,5,107100,21420.0,3.934,139223.0,7.76,34.2,61.0,61.0,4010.0,3.0,60.0,1315,Women's Fashion
2,2,5417aada4ad3ab27e954b76c,2,100007,50004.0,4.053,108048.0,8.00,8.0,-1.0,-1.0,5531.0,NaN,NaN,1082,Fashion
3,3,570f3a713a698c14278bb51e,1,100000,100000.0,3.889,19248.0,5.67,19.0,71.0,71.0,18393.0,1.0,100.0,961,Women
4,4,53082ea15aefb07dfe1f2a4f,1,100000,100000.0,4.036,366898.0,5.00,33.0,85.0,85.0,13789.0,NaN,NaN,905,Casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953,953,567bad8582c35f28103e5813,1,2,2.0,3.999,21307.0,11.00,10.0,-10.0,-10.0,1.0,NaN,NaN,2,moonphase
954,954,5b24edf0d1c360301099e9c6,1,2,2.0,4.303,693.0,16.00,16.0,0.0,0.0,0.0,NaN,NaN,2,minidresselvendre
955,955,5d417e7070327a2743021677,1,1,1.0,3.598,378.0,2.72,9.0,70.0,70.0,0.0,NaN,NaN,2,midriff
956,956,5add589edb5f1f32114d07df,1,1,1.0,3.956,1134.0,14.00,14.0,0.0,0.0,0.0,NaN,NaN,2,menssummersuit
957,957,5d4b8931933fb13f8a1fe232,1,1,1.0,4.007,1380.0,11.00,30.0,64.0,64.0,0.0,NaN,NaN,2,mensfitnessshirt

In [7]:
x.join(y,how="right")

,index,merchantid,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate,count,tag
0,0.0,5357bcf2bb72c5504882e889,2.0,120000.0,60000.0,4.219,320031.0,9.00,20.0,54.0,54.0,8836.0,1.0,50.0,1321,Summer
1,1.0,5708773c3c02161b3f8c7900,5.0,107100.0,21420.0,3.934,139223.0,7.76,34.2,61.0,61.0,4010.0,3.0,60.0,1315,Women's Fashion
2,2.0,5417aada4ad3ab27e954b76c,2.0,100007.0,50004.0,4.053,108048.0,8.00,8.0,-1.0,-1.0,5531.0,NaN,NaN,1082,Fashion
3,3.0,570f3a713a698c14278bb51e,1.0,100000.0,100000.0,3.889,19248.0,5.67,19.0,71.0,71.0,18393.0,1.0,100.0,961,Women
4,4.0,53082ea15aefb07dfe1f2a4f,1.0,100000.0,100000.0,4.036,366898.0,5.00,33.0,85.0,85.0,13789.0,NaN,NaN,905,Casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2615,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2014menshort
2616,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,"2,piece dress sets"
2617,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,"2,Piece Swimsuit"
2618,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,#fashion #shorts
2619,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,#Summer Clothes

# Append :- It will join two Data Sets and make a new Data set.

In [8]:
# In join function if the name of columns are similar in Data Sets it will show error but in append this will not happen

x.append(y)

C:\Users\HP\AppData\Local\Temp\ipykernel_10228\72094487.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  x.append(y)

,index,merchantid,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate,count,tag
0,0.0,5357bcf2bb72c5504882e889,2.0,120000.0,60000.0,4.219,320031.0,9.00,20.0,54.0,54.0,8836.0,1.0,50.0,NaN,NaN
1,1.0,5708773c3c02161b3f8c7900,5.0,107100.0,21420.0,3.934,139223.0,7.76,34.2,61.0,61.0,4010.0,3.0,60.0,NaN,NaN
2,2.0,5417aada4ad3ab27e954b76c,2.0,100007.0,50004.0,4.053,108048.0,8.00,8.0,-1.0,-1.0,5531.0,NaN,NaN,NaN,NaN
3,3.0,570f3a713a698c14278bb51e,1.0,100000.0,100000.0,3.889,19248.0,5.67,19.0,71.0,71.0,18393.0,1.0,100.0,NaN,NaN
4,4.0,53082ea15aefb07dfe1f2a4f,1.0,100000.0,100000.0,4.036,366898.0,5.00,33.0,85.0,85.0,13789.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2615,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2014menshort
2616,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"2,piece dress sets"
2617,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"2,Piece Swimsuit"
2618,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,#fashion #shorts
2619,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,#Summer Clothes

In [9]:
# You have noticed that index numbers are overlaping due to unorganised data 
# You have option to organised the index numbers

x.append(y,ignore_index=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_10228\4154877881.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  x.append(y,ignore_index=True)

,index,merchantid,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate,count,tag
0,0.0,5357bcf2bb72c5504882e889,2.0,120000.0,60000.0,4.219,320031.0,9.00,20.0,54.0,54.0,8836.0,1.0,50.0,NaN,NaN
1,1.0,5708773c3c02161b3f8c7900,5.0,107100.0,21420.0,3.934,139223.0,7.76,34.2,61.0,61.0,4010.0,3.0,60.0,NaN,NaN
2,2.0,5417aada4ad3ab27e954b76c,2.0,100007.0,50004.0,4.053,108048.0,8.00,8.0,-1.0,-1.0,5531.0,NaN,NaN,NaN,NaN
3,3.0,570f3a713a698c14278bb51e,1.0,100000.0,100000.0,3.889,19248.0,5.67,19.0,71.0,71.0,18393.0,1.0,100.0,NaN,NaN
4,4.0,53082ea15aefb07dfe1f2a4f,1.0,100000.0,100000.0,4.036,366898.0,5.00,33.0,85.0,85.0,13789.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3573,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2014menshort
3574,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"2,piece dress sets"
3575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"2,Piece Swimsuit"
3576,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,#fashion #shorts
3577,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,#Summer Clothes

# Melt() :- It is use to reshape the Data Sets

In [13]:
# How to reshape Data Set vertically
# By default all the data is converted into 2 columns.
# variable = column names, value = rows
# All the values show in value column and all the column names are show in variable column.

pd.melt(x)

              variable value
0                index     0
1                index     1
2                index     2
3                index     3
4                index     4
...                ...   ...
13407  urgencytextrate   NaN
13408  urgencytextrate   NaN
13409  urgencytextrate   NaN
13410  urgencytextrate   NaN
13411  urgencytextrate   NaN

[13412 rows x 2 columns]

In [14]:
# How to make any column as a index in vertical Data Set

pd.melt(x,id_vars=["index"])

       index         variable                     value
0          0       merchantid  5357bcf2bb72c5504882e889
1          1       merchantid  5708773c3c02161b3f8c7900
2          2       merchantid  5417aada4ad3ab27e954b76c
3          3       merchantid  570f3a713a698c14278bb51e
4          4       merchantid  53082ea15aefb07dfe1f2a4f
...      ...              ...                       ...
12449    953  urgencytextrate                       NaN
12450    954  urgencytextrate                       NaN
12451    955  urgencytextrate                       NaN
12452    956  urgencytextrate                       NaN
12453    957  urgencytextrate                       NaN

[12454 rows x 3 columns]

In [15]:
# How to change variable and column name

pd.melt(x,var_name="sameer",value_name="ansari")

                sameer ansari
0                index      0
1                index      1
2                index      2
3                index      3
4                index      4
...                ...    ...
13407  urgencytextrate    NaN
13408  urgencytextrate    NaN
13409  urgencytextrate    NaN
13410  urgencytextrate    NaN
13411  urgencytextrate    NaN

[13412 rows x 2 columns]